CombineToSingleMessage.txt
[{"id":"40e1a47a.90c73c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"true","complete":"true","x":2807.340534210205,"y":3193.200336456299,"wires":[]},{"id":"475d90f8.251a1","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"true","complete":"true","x":2788.84033203125,"y":3351.700168609619,"wires":[]},{"id":"916c4f12.1e571","type":"inject","z":"1ccdb44a.47d52c","name":"start calling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198.98565292358398,"y":3271.297788619995,"wires":[["9060c3ac.f8ec4","800c6712.2d4798","c1ee1e82.69685","77db39e1.94a828"]]},{"id":"9060c3ac.f8ec4","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"payload","x":464.390438079834,"y":3202.250195503235,"wires":[]},{"id":"c1ee1e82.69685","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":471.057071685791,"y":2990.4406604766846,"wires":[["9a63ba2f.054648","b0975c36.64532"]]},{"id":"9a63ba2f.054648","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":false,"console":"false","complete":"payload","x":514.0570945739746,"y":3102.0835342407227,"wires":[]},{"id":"b0975c36.64532","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":759.6642036437988,"y":2992.869234085083,"wires":[["df751c76.7db1c","2c9f60f4.92023"]]},{"id":"df751c76.7db1c","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":969.6999702453613,"y":2995.7620811462402,"wires":[["d8f1ad36.f2848","5fcf9a54.825594"]]},{"id":"d8f1ad36.f2848","type":"debug","z":"1ccdb44a.47d52c","name":"brightness msg object returned from ShelfNet","active":false,"console":"false","complete":"payload","x":1163.723789215088,"y":3110.6668395996094,"wires":[]},{"id":"800c6712.2d4798","type":"function","z":"1ccdb44a.47d52c","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":513.0570907592773,"y":3272.08353805542,"wires":[["efc75671.584a18","1681369c.e0ba19"]]},{"id":"2c9f60f4.92023","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":812.5571022033691,"y":3104.0835342407227,"wires":[]},{"id":"efc75671.584a18","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":764.8070945739746,"y":3272.0835609436035,"wires":[["7f4cf06d.d74ee","3e797103.844bce"]]},{"id":"7f4cf06d.d74ee","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":989.8071022033691,"y":3271.8335304260254,"wires":[["71951c22.cb7044","c778bd07.9a789"]]},{"id":"ca3a5b75.f955e8","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"txt","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2474.5571250915527,"y":3024.9169025421143,"wires":[[]]},{"id":"d3bc8518.ae5c88","type":"debug","z":"1ccdb44a.47d52c","name":"Formatted HANA Message","active":false,"console":"true","complete":"payload","x":1962.6403694152832,"y":2911.333526611328,"wires":[]},{"id":"55ca78de.2e4278","type":"function","z":"1ccdb44a.47d52c","name":"build HANA brightness push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"21a2cbfb64a1add0f24d\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"lux\":brightness/100.0}]};\nreturn msg;","outputs":"1","noerr":0,"x":1828.9144134521484,"y":3191.345598220825,"wires":[["84aa716a.870c","99fcb5e1.8a6608"]]},{"id":"71951c22.cb7044","type":"debug","z":"1ccdb44a.47d52c","name":"temp_rh msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1136.05708694458,"y":3380.583522796631,"wires":[]},{"id":"205c0a30.9176f6","type":"function","z":"1ccdb44a.47d52c","name":"Build HANA JSON Brightness Payload","func":"//Split current payload into array\n//var unformattedMsg = JSON.parse(msg.payload);\nvar msgArray = msg.payload.split(\" \");\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"21a2cbfb64a1add0f24d\", \"messages\":[{\"id\":\"SensorNameHere\", \"timestamp\":\"2016-11-15T08:45:37.930Z\", \"lux\": msgArray[5]}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":1636.7407112121582,"y":3009.883544921875,"wires":[["d3bc8518.ae5c88","bd83b92.2611448"]]},{"id":"114b50bf.05575f","type":"debug","z":"1ccdb44a.47d52c","name":"Input going to temp check","active":true,"console":"false","complete":"payload","x":2099.840320587158,"y":3426.0335445404053,"wires":[]},{"id":"bd83b92.2611448","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":1958.5571174621582,"y":3017.03351020813,"wires":[["6df37329.c022ac"]]},{"id":"6df37329.c022ac","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2224.473621368408,"y":3027.716859817505,"wires":[["ca3a5b75.f955e8"]]},{"id":"77db39e1.94a828","type":"function","z":"1ccdb44a.47d52c","name":"gettime command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"gettime\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":487.7237434387207,"y":3505.583522796631,"wires":[["7ed33add.ecb3f4","d520ce8f.a6a23"]]},{"id":"7ed33add.ecb3f4","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":false,"console":"false","complete":"payload","x":530.7237663269043,"y":3617.226396560669,"wires":[]},{"id":"d520ce8f.a6a23","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":796.3308753967285,"y":3508.0120964050293,"wires":[["a545cab8.14fdf8","5d6075c3.2ce89c"]]},{"id":"a545cab8.14fdf8","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/gettime","tls":"","x":1011.3666725158691,"y":3508.404944419861,"wires":[["a0b1ceed.2d179","f73a6a97.36bb28"]]},{"id":"a0b1ceed.2d179","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":false,"console":"false","complete":"payload","x":1166.2237739562988,"y":3614.976396560669,"wires":[]},{"id":"5d6075c3.2ce89c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":849.2237739562988,"y":3619.226396560669,"wires":[]},{"id":"3e797103.844bce","type":"debug","z":"1ccdb44a.47d52c","name":"encode json check1","active":true,"console":"false","complete":"payload","x":824.3904304504395,"y":3378.9168586730957,"wires":[]},{"id":"1681369c.e0ba19","type":"debug","z":"1ccdb44a.47d52c","name":"get_temp_rh command","active":true,"console":"false","complete":"payload","x":542.7237434387207,"y":3380.583522796631,"wires":[]},{"id":"84aa716a.870c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2090.8904190063477,"y":3114.4168281555176,"wires":[]},{"id":"d9866b2a.85df78","type":"debug","z":"1ccdb44a.47d52c","name":"join check","active":true,"console":"false","complete":"payload","x":1738.3904418945312,"y":3309.083713531494,"wires":[]},{"id":"e410392.0ca35c8","type":"join","z":"1ccdb44a.47d52c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1519.3903579711914,"y":3285.58349609375,"wires":[["d9866b2a.85df78","249184b4.7d48ec"]]},{"id":"5fcf9a54.825594","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"birghtness\";\nreturn msg;","outputs":1,"noerr":0,"x":1281.057216644287,"y":2997.250198364258,"wires":[["e410392.0ca35c8"]]},{"id":"c778bd07.9a789","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"x":1288.5571022033691,"y":3273.083498954773,"wires":[["e410392.0ca35c8"]]},{"id":"f73a6a97.36bb28","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"time\";\nreturn msg;","outputs":1,"noerr":0,"x":1297.7237281799316,"y":3508.9168462753296,"wires":[["e410392.0ca35c8"]]},{"id":"7f724d5e.a47174","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2604.557327270508,"y":3192.0836973190308,"wires":[["40e1a47a.90c73c"]]},{"id":"99fcb5e1.8a6608","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2086.0572814941406,"y":3191.7002992630005,"wires":[["411e374d.447f68"]]},{"id":"411e374d.447f68","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2347.4738159179688,"y":3194.383674621582,"wires":[["7f724d5e.a47174"]]},{"id":"1d2cd712.11afb9","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2583.5571250915527,"y":3353.0835304260254,"wires":[["475d90f8.251a1"]]},{"id":"c0c31bad.95ebc8","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2058.557117462158,"y":3351.7001914978027,"wires":[["bec8e0a9.b2503"]]},{"id":"bec8e0a9.b2503","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer \", //ready for new authorization number\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2330.973621368408,"y":3353.383457183838,"wires":[["1d2cd712.11afb9"]]},{"id":"249184b4.7d48ec","type":"function","z":"1ccdb44a.47d52c","name":"build HANA temp push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"be77e1f13675f09bc87a\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"celsius\":temp/100.0}]};\nreturn msg;","outputs":"1","noerr":0,"x":1807.057071685791,"y":3355.5835857391357,"wires":[["114b50bf.05575f","c0c31bad.95ebc8","44208bcc.696364"]]},{"id":"44208bcc.696364","type":"function","z":"1ccdb44a.47d52c","name":"Check Temperature Range","func":"//check temp range\nvar temp = msg.payload.messages.celcius;\nif (temp > 27 || temp < 10) \n{\n    //set led to red\n    msg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\n}\n//add error flag\n//msg.messages.flag = \"tempOutOfBounds\";\nreturn msg;","outputs":1,"noerr":0,"x":2118.7237434387207,"y":3624.583578109741,"wires":[["21a4dc05.1670b4","ae40bdf7.e6607"]]},{"id":"21a4dc05.1670b4","type":"debug","z":"1ccdb44a.47d52c","name":"temp range function check","active":true,"console":"false","complete":"payload","x":2399.7236518859863,"y":3623.5835723876953,"wires":[]},{"id":"a3df536.a3dbdb","type":"function","z":"1ccdb44a.47d52c","name":"set_led green command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"224\"}};\nreturn msg;","outputs":1,"noerr":0,"x":475.8189277648926,"y":4097.488321304321,"wires":[["e0601ffb.d3854","7387674c.6b83b8"]]},{"id":"e0601ffb.d3854","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":true,"console":"false","complete":"payload","x":498.8189506530762,"y":4209.131195068359,"wires":[]},{"id":"7387674c.6b83b8","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":764.4260597229004,"y":4099.91689491272,"wires":[["1b1f152.2cc43eb","6879d15c.98ce5"]]},{"id":"1b1f152.2cc43eb","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":979.461856842041,"y":4100.309742927551,"wires":[["f8852316.188d5","e84c89ff.df88a8"]]},{"id":"f8852316.188d5","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1134.3189582824707,"y":4206.881195068359,"wires":[]},{"id":"6879d15c.98ce5","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":817.3189582824707,"y":4211.131195068359,"wires":[]},{"id":"1424e73a.6841b9","type":"function","z":"1ccdb44a.47d52c","name":"set_led off command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"0\", \"sequence\" : \"0\", \"color\" :\"96\"}};\nreturn msg;","outputs":1,"noerr":0,"x":1827.24751663208,"y":4105.107323169708,"wires":[["8f3bda28.2292b8","97f14e11.2c89f"]]},{"id":"8f3bda28.2292b8","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":true,"console":"false","complete":"payload","x":1860.2475395202637,"y":4216.750196933746,"wires":[]},{"id":"97f14e11.2c89f","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2125.854648590088,"y":4107.535896778107,"wires":[["8b185d41.4b4f8","2eb41cee.3e7fb4"]]},{"id":"4475a579.f5300c","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2495.747547149658,"y":4214.500196933746,"wires":[]},{"id":"8b185d41.4b4f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2178.747547149658,"y":4218.750196933746,"wires":[]},{"id":"f36cf048.59511","type":"delay","z":"1ccdb44a.47d52c","name":"Delay Between green and off","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1525.3428993225098,"y":4105.107418060303,"wires":[["1424e73a.6841b9"]]},{"id":"e1c4d913.29f678","type":"inject","z":"1ccdb44a.47d52c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":178.05708694458008,"y":4096.583522796631,"wires":[["a3df536.a3dbdb"]]},{"id":"2eb41cee.3e7fb4","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2369.39017868042,"y":4108.916829586029,"wires":[["4475a579.f5300c"]]},{"id":"e84c89ff.df88a8","type":"change","z":"1ccdb44a.47d52c","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1241.0570487976074,"y":4100.583489894867,"wires":[["f36cf048.59511"]]},{"id":"ae40bdf7.e6607","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2339.8903884887695,"y":3684.9169483184814,"wires":[["be5f1012.6b953"]]},{"id":"be5f1012.6b953","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2530.008716583252,"y":3684.0315284729004,"wires":[[]]}]
