exomFlow.txt
[{"id":"df99fc61.799d1","type":"inject","z":"364e47f7.f05408","name":"start of collection cycle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":134,"y":492,"wires":[["f3915ce0.a7ad8","557068c8.bedde8","bbcf1be5.20ffd8"]]},{"id":"f3915ce0.a7ad8","type":"function","z":"364e47f7.f05408","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexom = \"30344719333832391a002600\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexom,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":572.0713806152344,"y":279.1428737640381,"wires":[["78287937.a3c0b8","3192af9.08bf15"]]},{"id":"78287937.a3c0b8","type":"debug","z":"364e47f7.f05408","name":"get_brightness command","active":false,"console":"false","complete":"payload","x":663.0713958740234,"y":342.78573989868164,"wires":[]},{"id":"3192af9.08bf15","type":"json","z":"364e47f7.f05408","name":"encode json","x":860.6785125732422,"y":281.5714473724365,"wires":[["ab335fc5.ea53e","54d400c5.950b4"]]},{"id":"ab335fc5.ea53e","type":"http request","z":"364e47f7.f05408","name":"push get_brightness to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":1120.7142791748047,"y":284.46429443359375,"wires":[["7293d995.054a18","3ef6b581.d7f95a"]]},{"id":"7293d995.054a18","type":"debug","z":"364e47f7.f05408","name":"brightness msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1256.7381591796875,"y":349.36905574798584,"wires":[]},{"id":"6779bc41.f05a04","type":"function","z":"364e47f7.f05408","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexom,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":607.4047889709473,"y":474.1190872192383,"wires":[["9a29645f.10e548","cd5513de.8b7b5"]]},{"id":"54d400c5.950b4","type":"debug","z":"364e47f7.f05408","name":"","active":false,"console":"false","complete":"false","x":928.571403503418,"y":343.7857437133789,"wires":[]},{"id":"9a29645f.10e548","type":"json","z":"364e47f7.f05408","name":"encode json","x":859.1547927856445,"y":474.1191101074219,"wires":[["7f6d108c.d3d12","584f92c4.4e798c"]]},{"id":"7f6d108c.d3d12","type":"http request","z":"364e47f7.f05408","name":"push get_temp_rh to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":1134.154800415039,"y":473.86907958984375,"wires":[["84b654c1.03bb08","121a69ff.c8fb56"]]},{"id":"84b654c1.03bb08","type":"debug","z":"364e47f7.f05408","name":"temp_rh msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1276.738052368164,"y":543.9524564743042,"wires":[]},{"id":"7b2a1b1a.680dd4","type":"debug","z":"364e47f7.f05408","name":"message going to iotmms","active":true,"console":"false","complete":"payload","x":2172.5213623046875,"y":606.4024629592896,"wires":[]},{"id":"bf087496.058db8","type":"function","z":"364e47f7.f05408","name":"gettime command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"gettime\",\"unit\":context.global.Xexom,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":562.0714950561523,"y":677.6191511154175,"wires":[["8835987f.e85178","c101fdef.342f3"]]},{"id":"8835987f.e85178","type":"debug","z":"364e47f7.f05408","name":"gettime command","active":false,"console":"false","complete":"payload","x":615.0715255737305,"y":743.262038230896,"wires":[]},{"id":"c101fdef.342f3","type":"json","z":"364e47f7.f05408","name":"encode json","x":870.6786270141602,"y":680.0477247238159,"wires":[["ae3495f.034bd68","7c8a5d8c.2390a4"]]},{"id":"ae3495f.034bd68","type":"http request","z":"364e47f7.f05408","name":"push gettime to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/gettime","tls":"","x":1115.7144241333008,"y":680.4405727386475,"wires":[["cc020d05.ebc3c","a213f627.419748"]]},{"id":"cc020d05.ebc3c","type":"debug","z":"364e47f7.f05408","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1224.5715866088867,"y":741.012038230896,"wires":[]},{"id":"7c8a5d8c.2390a4","type":"debug","z":"364e47f7.f05408","name":"","active":false,"console":"false","complete":"false","x":901.5715866088867,"y":735.262038230896,"wires":[]},{"id":"584f92c4.4e798c","type":"debug","z":"364e47f7.f05408","name":"encode json check1","active":false,"console":"false","complete":"payload","x":925.738166809082,"y":538.9524574279785,"wires":[]},{"id":"cd5513de.8b7b5","type":"debug","z":"364e47f7.f05408","name":"get_temp_rh command","active":false,"console":"false","complete":"payload","x":645.0714111328125,"y":534.6190757751465,"wires":[]},{"id":"c8b80c72.ccca5","type":"debug","z":"364e47f7.f05408","name":"join check","active":true,"console":"false","complete":"payload","x":1855.404655456543,"y":376.7858190536499,"wires":[]},{"id":"2bdadc9a.d90314","type":"join","z":"364e47f7.f05408","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1670.4046516418457,"y":494.28572177886963,"wires":[["c8b80c72.ccca5","2a699402.6b144c"]]},{"id":"3ef6b581.d7f95a","type":"function","z":"364e47f7.f05408","name":"adding a topic","func":"msg.topic = \"birghtness\";\nreturn msg;","outputs":1,"noerr":0,"x":1382.0715255737305,"y":285.9524116516113,"wires":[["2bdadc9a.d90314"]]},{"id":"121a69ff.c8fb56","type":"function","z":"364e47f7.f05408","name":"adding a topic","func":"msg.topic = \"temp\";\nmsg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":1382.904800415039,"y":475.1190481185913,"wires":[["2bdadc9a.d90314"]]},{"id":"a213f627.419748","type":"function","z":"364e47f7.f05408","name":"adding a topic","func":"msg.topic = \"time\";\nreturn msg;","outputs":1,"noerr":0,"x":1372.0714797973633,"y":680.9524745941162,"wires":[["2bdadc9a.d90314"]]},{"id":"1afe7af5.948fb5","type":"function","z":"364e47f7.f05408","name":"set_led green command","func":"msg.payload = {\"command\":\"set_led\",\"unit\":context.global.sensorId,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"224\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2079.0555267333984,"y":1218.4129333496094,"wires":[["7980d002.6bff1","4a92f64a.077fb8"]]},{"id":"7980d002.6bff1","type":"debug","z":"364e47f7.f05408","name":"set_led green command","active":true,"console":"false","complete":"payload","x":2073.166648864746,"y":1327.8335247039795,"wires":[]},{"id":"4a92f64a.077fb8","type":"json","z":"364e47f7.f05408","name":"encode json","x":2318.7737579345703,"y":1218.6192245483398,"wires":[["a24cc65e.5e6558","38b1a02.ec1576"]]},{"id":"a24cc65e.5e6558","type":"http request","z":"364e47f7.f05408","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2563.809555053711,"y":1219.0120725631714,"wires":[["a625eae8.368168","7a7ec7a4.d76e98"]]},{"id":"a625eae8.368168","type":"debug","z":"364e47f7.f05408","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2698.6666564941406,"y":1325.5835247039795,"wires":[]},{"id":"38b1a02.ec1576","type":"debug","z":"364e47f7.f05408","name":"","active":true,"console":"false","complete":"false","x":2371.6666564941406,"y":1329.8335247039795,"wires":[]},{"id":"6aceb11a.b01bf","type":"function","z":"364e47f7.f05408","name":"set_led off command","func":"\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.sensorId,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"0\", \"sequence\" : \"0\", \"color\" :\"96\"}};\nreturn msg;","outputs":1,"noerr":0,"x":3381.59521484375,"y":1223.8096528053284,"wires":[["403b9649.0e5648","28297a51.7c5bc6"]]},{"id":"403b9649.0e5648","type":"debug","z":"364e47f7.f05408","name":"set_led off command","active":true,"console":"false","complete":"payload","x":3424.5952377319336,"y":1335.4525265693665,"wires":[]},{"id":"28297a51.7c5bc6","type":"json","z":"364e47f7.f05408","name":"encode json","x":3680.202346801758,"y":1226.2382264137268,"wires":[["4fb7e4ac.517f5c","1d6e3ea2.f565d1"]]},{"id":"ac53ba94.0c7638","type":"debug","z":"364e47f7.f05408","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":4060.095245361328,"y":1333.2025265693665,"wires":[]},{"id":"4fb7e4ac.517f5c","type":"debug","z":"364e47f7.f05408","name":"","active":true,"console":"false","complete":"false","x":3733.095245361328,"y":1337.4525265693665,"wires":[]},{"id":"a8079833.d4c2a8","type":"delay","z":"364e47f7.f05408","name":"Delay Between green and off","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3099.690528869629,"y":1222.1430835723877,"wires":[["6aceb11a.b01bf"]]},{"id":"f2c42f35.122b9","type":"inject","z":"364e47f7.f05408","name":"Turn off LED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3179.0713386535645,"y":1115.2857828140259,"wires":[["6aceb11a.b01bf"]]},{"id":"1d6e3ea2.f565d1","type":"http request","z":"364e47f7.f05408","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":3953.73787689209,"y":1227.6191592216492,"wires":[["ac53ba94.0c7638","ff142d39.09e93"]]},{"id":"7a7ec7a4.d76e98","type":"change","z":"364e47f7.f05408","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2820.404830932617,"y":1220.9525318145752,"wires":[["a8079833.d4c2a8"]]},{"id":"ba251ab5.921088","type":"json","z":"364e47f7.f05408","name":"encode json","x":2849.2376708984375,"y":352.7858018875122,"wires":[["e4857545.c15538"]]},{"id":"e4857545.c15538","type":"http request","z":"364e47f7.f05408","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":3065.189353942871,"y":352.73378562927246,"wires":[["84d44e.ea6e1bb"]]},{"id":"2a699402.6b144c","type":"function","z":"364e47f7.f05408","name":"build HANA push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.humidity.data.temp;\nvar rh = msg.payload.humidity.data.rh;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"6afb82588a1142c0c481\",\n    \"messages\":[{\"id\":context.global.Xexsg,\n                \"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\n                \"celsius\":temp/100.0,\n                \"humidity\":rh/100,\n                \"lux\":brightness/100.0,\n                \"isoutofbounds\":false}]};\nreturn msg;","outputs":"1","noerr":0,"x":1849.7379608154297,"y":494.3690710067749,"wires":[["7b2a1b1a.680dd4","acbd69ed.5d3af8"]]},{"id":"9f8b8ca9.60478","type":"json","z":"364e47f7.f05408","name":"encode json","x":2693.4048767089844,"y":502.03575229644775,"wires":[["d47adcb6.c5974"]]},{"id":"d47adcb6.c5974","type":"function","z":"364e47f7.f05408","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 814619211e65e689e1f47f0f68243\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2906.0715141296387,"y":501.0357484817505,"wires":[["faa4fc05.63e89"]]},{"id":"faa4fc05.63e89","type":"http request","z":"364e47f7.f05408","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/cf8f547a-de6d-473b-ad7d-d6f978350be7","tls":"","x":3165.0715141296387,"y":500.0357484817505,"wires":[["1314881e.c18a28"]]},{"id":"1314881e.c18a28","type":"debug","z":"364e47f7.f05408","name":"Return from Push to iotmms","active":true,"console":"true","complete":"true","x":3434.071502685547,"y":500.035813331604,"wires":[]},{"id":"c758d929.a5d758","type":"change","z":"364e47f7.f05408","name":"delete header","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2315.3211975097656,"y":353.45240688323975,"wires":[["7b4b5d83.8de994"]]},{"id":"acbd69ed.5d3af8","type":"switch","z":"364e47f7.f05408","name":"Check temp","property":"payload.messages[0].celsius","propertyType":"msg","rules":[{"t":"gt","v":"27","vt":"num"},{"t":"lte","v":"15","vt":"str"},{"t":"else"}],"checkall":"false","outputs":3,"x":2121.5711669921875,"y":493.0357313156128,"wires":[["a102ca94.269b08","c758d929.a5d758"],["a102ca94.269b08","c758d929.a5d758"],["9f8b8ca9.60478"]]},{"id":"2896378b.636b68","type":"debug","z":"364e47f7.f05408","name":"temp range switch/change node check","active":true,"console":"false","complete":"payload","x":2934.4881591796875,"y":267.6191625595093,"wires":[]},{"id":"d9f665bd.5db7d8","type":"function","z":"364e47f7.f05408","name":"set_led red command","func":"msg.payload = {\"command\":\"set_led\",\"unit\":context.global.sensorId,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2043.4048156738281,"y":1489.702537536621,"wires":[["6f19ed90.6a2834","b31827c3.873538"]]},{"id":"6f19ed90.6a2834","type":"debug","z":"364e47f7.f05408","name":"set_led red command","active":true,"console":"false","complete":"payload","x":2086.4048385620117,"y":1601.3454113006592,"wires":[]},{"id":"b31827c3.873538","type":"json","z":"364e47f7.f05408","name":"encode json","x":2342.011947631836,"y":1492.1311111450195,"wires":[["b7f4fad6.54e018","d1beace8.5597"]]},{"id":"b7f4fad6.54e018","type":"http request","z":"364e47f7.f05408","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2587.0477447509766,"y":1492.523959159851,"wires":[["19295aad.e8b395","fb734307.22667"]]},{"id":"19295aad.e8b395","type":"debug","z":"364e47f7.f05408","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2721.9048461914062,"y":1599.0954113006592,"wires":[]},{"id":"d1beace8.5597","type":"debug","z":"364e47f7.f05408","name":"","active":true,"console":"false","complete":"false","x":2394.9048461914062,"y":1603.3454113006592,"wires":[]},{"id":"5d598c34.38c704","type":"switch","z":"364e47f7.f05408","name":"green or red flag check","property":"payload.setLEDGreen","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":1709.071418762207,"y":1376.369197845459,"wires":[["1afe7af5.948fb5"],["d9f665bd.5db7d8"]]},{"id":"78205ab1.e61ec4","type":"http request","z":"364e47f7.f05408","name":"get led pushes","method":"GET","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/cf8f547a-de6d-473b-ad7d-d6f978350be7","tls":"","x":689.0715026855469,"y":1377.035800933838,"wires":[["6fce13b.7ff14ec","572c04af.cfb65c"]]},{"id":"a5c5ba6e.5965e8","type":"inject","z":"364e47f7.f05408","name":"start manual LED change","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":206.5715103149414,"y":1377.0358715057373,"wires":[["8620a958.543828"]]},{"id":"6fce13b.7ff14ec","type":"debug","z":"364e47f7.f05408","name":"pushes from the iotmms","active":true,"console":"false","complete":"payload","x":867.0714874267578,"y":1306.202486038208,"wires":[]},{"id":"8620a958.543828","type":"function","z":"364e47f7.f05408","name":"Add HANA JSON Header","func":"\n\nmsg.headers = {\n    \"Authorization\": \"Bearer 814619211e65e689e1f47f0f68243\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":462.0715026855469,"y":1377.035800933838,"wires":[["78205ab1.e61ec4"]]},{"id":"572c04af.cfb65c","type":"split","z":"364e47f7.f05408","name":"","splt":"\\n","x":907.8215103149414,"y":1373.0358715057373,"wires":[["c2dd0f8b.6a0a8","ec89d3db.847e8"]]},{"id":"bfa6c620.aab478","type":"function","z":"364e47f7.f05408","name":"manual led change message","func":"context.global.sensorId = msg.payload.messages[0].id;\nvar setLEDGreen = msg.payload.messages[0].setLEDGreen;\nmsg.payload = {\"setLEDGreen\":setLEDGreen};\nreturn msg;","outputs":1,"noerr":0,"x":1176.571517944336,"y":1371.785816192627,"wires":[["9a0f1988.947af8","78a07416.e4f91c"]]},{"id":"a102ca94.269b08","type":"change","z":"364e47f7.f05408","name":"Set isoutofbounds to True","rules":[{"t":"set","p":"payload.isoutofbounds","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2409.0712890625,"y":440.5357885360718,"wires":[["9f8b8ca9.60478"]]},{"id":"9a0f1988.947af8","type":"debug","z":"364e47f7.f05408","name":"structured LED change commands","active":true,"console":"false","complete":"payload","x":1515.3215026855464,"y":1303.0358009338374,"wires":[]},{"id":"c2dd0f8b.6a0a8","type":"debug","z":"364e47f7.f05408","name":"individual commands","active":true,"console":"false","complete":"payload","x":1190.3215217590332,"y":1305.535816192627,"wires":[]},{"id":"84d44e.ea6e1bb","type":"debug","z":"364e47f7.f05408","name":"shelfnet LED change response","active":true,"console":"false","complete":"payload","x":3366.5714416503906,"y":350.53578662872314,"wires":[]},{"id":"7b4b5d83.8de994","type":"function","z":"364e47f7.f05408","name":"create set_led message","func":"msg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexom,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2607.4046630859375,"y":351.3691339492798,"wires":[["ba251ab5.921088","2896378b.636b68"]]},{"id":"78a07416.e4f91c","type":"change","z":"364e47f7.f05408","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1445.071517944336,"y":1373.0358047485352,"wires":[["5d598c34.38c704"]]},{"id":"ec89d3db.847e8","type":"function","z":"364e47f7.f05408","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":1015.0714340209961,"y":1467.0357303619385,"wires":[["bfa6c620.aab478"]]},{"id":"fb734307.22667","type":"function","z":"364e47f7.f05408","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":2880.0714416503906,"y":1495.035789489746,"wires":[["c66e5ef2.f4cc6"]]},{"id":"c66e5ef2.f4cc6","type":"link out","z":"364e47f7.f05408","name":"TriggerFromRed","links":["2d059c4a.cfe644"],"x":3071.0714416503906,"y":1498.035789489746,"wires":[]},{"id":"2d059c4a.cfe644","type":"link in","z":"364e47f7.f05408","name":"Trigger","links":["c66e5ef2.f4cc6","ac02c319.ff903","54b4aa14.8a1cc4","5868b695.52a088"],"x":766.0714340209961,"y":1467.0357303619385,"wires":[["ec89d3db.847e8"]]},{"id":"ff142d39.09e93","type":"function","z":"364e47f7.f05408","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":4240,"y":1230,"wires":[["5868b695.52a088"]]},{"id":"5868b695.52a088","type":"link out","z":"364e47f7.f05408","name":"TriggerFromGreen","links":["f8138ce8.cb269","2d059c4a.cfe644"],"x":4443,"y":1232,"wires":[]},{"id":"557068c8.bedde8","type":"delay","z":"364e47f7.f05408","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":368.66666412353516,"y":477.9999876022339,"wires":[["6779bc41.f05a04"]]},{"id":"bbcf1be5.20ffd8","type":"delay","z":"364e47f7.f05408","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":334.6666717529297,"y":682.0000085830688,"wires":[["bf087496.058db8"]]}]