exsgFlow.txt
[{"id":"f769c5ac.76b6a8","type":"inject","z":"1ccdb44a.47d52c","name":"start of collection cycle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155.9285659790039,"y":426.9642696380615,"wires":[["fe53e24f.8585","665d2239.8ff39c","239b757.6119a8a"]]},{"id":"665d2239.8ff39c","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":357.99998474121094,"y":136.10713386535645,"wires":[["5e86bb05.064dd4","dabdabbf.e8e898"]]},{"id":"5e86bb05.064dd4","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":false,"console":"false","complete":"payload","x":449,"y":199.75,"wires":[]},{"id":"dabdabbf.e8e898","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":646.6071166992188,"y":138.53570747375488,"wires":[["91afbd2a.a0bf6","f5dd0816.eef0f8"]]},{"id":"91afbd2a.a0bf6","type":"http request","z":"1ccdb44a.47d52c","name":"push get_brightness to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":906.6428833007812,"y":141.4285545349121,"wires":[["d2576406.7d2f58","d0d055e4.2928d8"]]},{"id":"d2576406.7d2f58","type":"debug","z":"1ccdb44a.47d52c","name":"brightness msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1042.666763305664,"y":206.3333158493042,"wires":[]},{"id":"fe53e24f.8585","type":"function","z":"1ccdb44a.47d52c","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":400.00000381469727,"y":417.7500114440918,"wires":[["3bd8a581.e831ea","37fbba5.a071946"]]},{"id":"f5dd0816.eef0f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":714.5000076293945,"y":200.75000381469727,"wires":[]},{"id":"3bd8a581.e831ea","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":651.7500076293945,"y":417.7500343322754,"wires":[["869a507d.614a2","8623bffe.6f1e"]]},{"id":"869a507d.614a2","type":"http request","z":"1ccdb44a.47d52c","name":"push get_temp_rh to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":926.7500152587891,"y":417.50000381469727,"wires":[["383a561c.98409a","ab9ea155.5be7f"]]},{"id":"383a561c.98409a","type":"debug","z":"1ccdb44a.47d52c","name":"temp_rh msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1069.333267211914,"y":487.5833806991577,"wires":[]},{"id":"7bd9215.03ce6e","type":"debug","z":"1ccdb44a.47d52c","name":"message going to iotmms","active":true,"console":"false","complete":"payload","x":1908.4499816894531,"y":543.3667106628418,"wires":[]},{"id":"239b757.6119a8a","type":"function","z":"1ccdb44a.47d52c","name":"gettime command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"gettime\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":374.6666564941406,"y":651.2499961853027,"wires":[["fddbdc2b.e74d3","ad1a069e.6247f8"]]},{"id":"fddbdc2b.e74d3","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":false,"console":"false","complete":"payload","x":427.66668701171875,"y":716.8928833007812,"wires":[]},{"id":"ad1a069e.6247f8","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":683.2737884521484,"y":653.6785697937012,"wires":[["e2e52259.ea9ea","99806eef.d6177"]]},{"id":"e2e52259.ea9ea","type":"http request","z":"1ccdb44a.47d52c","name":"push gettime to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/gettime","tls":"","x":928.3095855712891,"y":654.0714178085327,"wires":[["13c793cb.77288c","aee30dbc.c5184"]]},{"id":"13c793cb.77288c","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1037.166748046875,"y":714.6428833007812,"wires":[]},{"id":"99806eef.d6177","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":714.166748046875,"y":708.8928833007812,"wires":[]},{"id":"8623bffe.6f1e","type":"debug","z":"1ccdb44a.47d52c","name":"encode json check1","active":false,"console":"false","complete":"payload","x":718.333381652832,"y":482.58338165283203,"wires":[]},{"id":"37fbba5.a071946","type":"debug","z":"1ccdb44a.47d52c","name":"get_temp_rh command","active":false,"console":"false","complete":"payload","x":437.6666259765625,"y":478.25,"wires":[]},{"id":"24cd8f3b.3fc4","type":"debug","z":"1ccdb44a.47d52c","name":"join check","active":true,"console":"false","complete":"payload","x":1591.3332748413086,"y":313.75006675720215,"wires":[]},{"id":"e12d0400.325e38","type":"join","z":"1ccdb44a.47d52c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1406.3332710266113,"y":431.2499694824219,"wires":[["24cd8f3b.3fc4","e0d8bd0f.775b7"]]},{"id":"d0d055e4.2928d8","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"birghtness\";\nreturn msg;","outputs":1,"noerr":0,"x":1168.000129699707,"y":142.9166717529297,"wires":[["e12d0400.325e38"]]},{"id":"ab9ea155.5be7f","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"temp\";\nmsg.topic = \"humidity\";\nreturn msg;","outputs":1,"noerr":0,"x":1175.500015258789,"y":418.7499723434448,"wires":[["e12d0400.325e38"]]},{"id":"aee30dbc.c5184","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"time\";\nreturn msg;","outputs":1,"noerr":0,"x":1184.6666412353516,"y":654.5833196640015,"wires":[["e12d0400.325e38"]]},{"id":"4f6c909b.21465","type":"function","z":"1ccdb44a.47d52c","name":"set_led green command","func":"msg.payload = {\"command\":\"set_led\",\"unit\":context.global.sensorId,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"224\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2034.9841613769531,"y":1170.3772134780884,"wires":[["74cc0369.2aa15c","6c481c89.c22dc4"]]},{"id":"74cc0369.2aa15c","type":"debug","z":"1ccdb44a.47d52c","name":"set_led green command","active":true,"console":"false","complete":"payload","x":2029.0952835083008,"y":1279.7978048324585,"wires":[]},{"id":"6c481c89.c22dc4","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2274.702392578125,"y":1170.5835046768188,"wires":[["9165c309.9ceb6","57475cf6.7873c4"]]},{"id":"9165c309.9ceb6","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2519.7381896972656,"y":1170.9763526916504,"wires":[["6788c765.e34148","f42ad305.9349f"]]},{"id":"6788c765.e34148","type":"debug","z":"1ccdb44a.47d52c","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2654.5952911376953,"y":1277.5478048324585,"wires":[]},{"id":"57475cf6.7873c4","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2327.5952911376953,"y":1281.7978048324585,"wires":[]},{"id":"a4fa4663.459d58","type":"function","z":"1ccdb44a.47d52c","name":"set_led off command","func":"\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.sensorId,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"0\", \"sequence\" : \"0\", \"color\" :\"96\"}};\nreturn msg;","outputs":1,"noerr":0,"x":3337.5238494873047,"y":1175.7739329338074,"wires":[["56de6dfb.e08154","1c07cd35.af3e33"]]},{"id":"56de6dfb.e08154","type":"debug","z":"1ccdb44a.47d52c","name":"set_led off command","active":true,"console":"false","complete":"payload","x":3380.5238723754883,"y":1287.4168066978455,"wires":[]},{"id":"1c07cd35.af3e33","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":3636.1309814453125,"y":1178.2025065422058,"wires":[["49fde237.b94c0c","7c988ba1.934bd4"]]},{"id":"817d246e.8ae428","type":"debug","z":"1ccdb44a.47d52c","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":4016.023880004883,"y":1285.1668066978455,"wires":[]},{"id":"49fde237.b94c0c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":3689.023880004883,"y":1289.4168066978455,"wires":[]},{"id":"8b14857b.5caf18","type":"delay","z":"1ccdb44a.47d52c","name":"Delay Between green and off","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3055.6191635131836,"y":1174.1073637008667,"wires":[["a4fa4663.459d58"]]},{"id":"ed875e49.1338d","type":"inject","z":"1ccdb44a.47d52c","name":"Turn off LED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":3134.999973297119,"y":1067.2500629425049,"wires":[["a4fa4663.459d58"]]},{"id":"7c988ba1.934bd4","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":3909.6665115356445,"y":1179.5834393501282,"wires":[["817d246e.8ae428","cf859055.e8745"]]},{"id":"f42ad305.9349f","type":"change","z":"1ccdb44a.47d52c","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2776.333465576172,"y":1172.9168119430542,"wires":[["8b14857b.5caf18"]]},{"id":"ac8715f3.4f6938","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2585.166290283203,"y":289.75004959106445,"wires":[["82c9e1af.7edde"]]},{"id":"82c9e1af.7edde","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2801.1179733276367,"y":289.6980333328247,"wires":[["c3a2e467.237778"]]},{"id":"e0d8bd0f.775b7","type":"function","z":"1ccdb44a.47d52c","name":"build HANA push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.humidity.data.temp;\nvar rh = msg.payload.humidity.data.rh;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"6afb82588a1142c0c481\",\n    \"messages\":[{\"id\":context.global.Xexsg,\n                \"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\n                \"celsius\":temp/100.0,\n                \"humidity\":rh/100,\n                \"lux\":brightness/100.0,\n                \"isoutofbounds\":false}]};\nreturn msg;","outputs":"1","noerr":0,"x":1585.6665802001953,"y":431.33331871032715,"wires":[["7bd9215.03ce6e","7ec44c65.8ce464"]]},{"id":"1eebf7ef.ec4dd8","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2429.33349609375,"y":439,"wires":[["200ad7bf.f21528"]]},{"id":"200ad7bf.f21528","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer a44ab95f618aa7e53c37aa6ffdd61a3\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2642.0001335144043,"y":437.99999618530273,"wires":[["c070917b.af9ee"]]},{"id":"c070917b.af9ee","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/5a40c687-9691-4ac0-a295-e306f3b83f33","tls":"","x":2901.0001335144043,"y":436.99999618530273,"wires":[["de22727.ce4439"]]},{"id":"de22727.ce4439","type":"debug","z":"1ccdb44a.47d52c","name":"Return from Push to iotmms","active":true,"console":"true","complete":"true","x":3170.0001220703125,"y":437.00006103515625,"wires":[]},{"id":"5947ede3.f07de4","type":"change","z":"1ccdb44a.47d52c","name":"delete header","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2051.2498168945312,"y":290.416654586792,"wires":[["3d7940d9.5d4ae"]]},{"id":"7ec44c65.8ce464","type":"switch","z":"1ccdb44a.47d52c","name":"Check temp","property":"payload.messages[0].celsius","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"else"}],"checkall":"false","outputs":2,"x":1857.4997863769531,"y":429.99997901916504,"wires":[["c5610222.2b474","5947ede3.f07de4"],["1eebf7ef.ec4dd8"]]},{"id":"48842be7.f2e6b4","type":"debug","z":"1ccdb44a.47d52c","name":"temp range switch/change node check","active":true,"console":"false","complete":"payload","x":2670.416778564453,"y":204.58341026306152,"wires":[]},{"id":"170c88af.392207","type":"function","z":"1ccdb44a.47d52c","name":"set_led red command","func":"msg.payload = {\"command\":\"set_led\",\"unit\":context.global.sensorId,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2019.3334045410156,"y":1431.6667709350586,"wires":[["5de5e71a.605a28","6a822332.9da7ec"]]},{"id":"5de5e71a.605a28","type":"debug","z":"1ccdb44a.47d52c","name":"set_led red command","active":true,"console":"false","complete":"payload","x":2062.333427429199,"y":1543.3096446990967,"wires":[]},{"id":"6a822332.9da7ec","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2317.9405364990234,"y":1434.095344543457,"wires":[["c9b32880.58e728","dd10091e.aaf948"]]},{"id":"c9b32880.58e728","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2562.976333618164,"y":1434.4881925582886,"wires":[["3b92ee3c.665fa2","ef8a9477.afc288"]]},{"id":"3b92ee3c.665fa2","type":"debug","z":"1ccdb44a.47d52c","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2697.8334350585938,"y":1541.0596446990967,"wires":[]},{"id":"dd10091e.aaf948","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2370.8334350585938,"y":1545.3096446990967,"wires":[]},{"id":"932d8ada.4529f8","type":"switch","z":"1ccdb44a.47d52c","name":"green or red flag check","property":"payload.setLEDGreen","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","outputs":2,"x":1674.999984741211,"y":1303.3334674835205,"wires":[["4f6c909b.21465"],["170c88af.392207"]]},{"id":"3a64888c.8a3e08","type":"http request","z":"1ccdb44a.47d52c","name":"get led pushes","method":"GET","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/5a40c687-9691-4ac0-a295-e306f3b83f33","tls":"","x":655.0000686645508,"y":1304.0000705718994,"wires":[["384f0055.60e78","13da96fb.d808a9"]]},{"id":"60d0148b.dbcbec","type":"inject","z":"1ccdb44a.47d52c","name":"start manual LED change","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172.5000762939453,"y":1304.0001411437988,"wires":[["1c054474.85a4fc"]]},{"id":"384f0055.60e78","type":"debug","z":"1ccdb44a.47d52c","name":"pushes from the iotmms","active":true,"console":"false","complete":"payload","x":833.0000534057617,"y":1233.1667556762695,"wires":[]},{"id":"1c054474.85a4fc","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"\n\nmsg.headers = {\n    \"Authorization\": \"Bearer a44ab95f618aa7e53c37aa6ffdd61a3\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":428.0000686645508,"y":1304.0000705718994,"wires":[["3a64888c.8a3e08"]]},{"id":"13da96fb.d808a9","type":"split","z":"1ccdb44a.47d52c","name":"","splt":"\\n","x":873.7500762939453,"y":1300.0001411437988,"wires":[["bee1628a.a5a13","1ed91944.8ecb67"]]},{"id":"a230dbe.0c7da28","type":"function","z":"1ccdb44a.47d52c","name":"manual led change message","func":"context.global.sensorId = msg.payload.messages[0].id;\nvar setLEDGreen = msg.payload.messages[0].setLEDGreen;\nmsg.payload = {\"setLEDGreen\":setLEDGreen};\nreturn msg;","outputs":1,"noerr":0,"x":1142.5000839233398,"y":1298.7500858306885,"wires":[["487b60eb.7b8d5","b9f94139.496d1"]]},{"id":"c5610222.2b474","type":"change","z":"1ccdb44a.47d52c","name":"Set isoutofbounds to True","rules":[{"t":"set","p":"payload.isoutofbounds","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2144.9999084472656,"y":377.500036239624,"wires":[["1eebf7ef.ec4dd8"]]},{"id":"487b60eb.7b8d5","type":"debug","z":"1ccdb44a.47d52c","name":"structured LED change commands","active":true,"console":"false","complete":"payload","x":1481.2500686645503,"y":1230.000070571899,"wires":[]},{"id":"bee1628a.a5a13","type":"debug","z":"1ccdb44a.47d52c","name":"individual commands","active":true,"console":"false","complete":"payload","x":1156.250087738037,"y":1232.5000858306885,"wires":[]},{"id":"c3a2e467.237778","type":"debug","z":"1ccdb44a.47d52c","name":"shelfnet LED change response","active":true,"console":"false","complete":"payload","x":3102.5000610351562,"y":287.5000343322754,"wires":[]},{"id":"3d7940d9.5d4ae","type":"function","z":"1ccdb44a.47d52c","name":"create set_led message","func":"msg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2343.333282470703,"y":288.33338165283203,"wires":[["ac8715f3.4f6938","48842be7.f2e6b4"]]},{"id":"b9f94139.496d1","type":"change","z":"1ccdb44a.47d52c","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1411.0000839233398,"y":1300.0000743865967,"wires":[["932d8ada.4529f8"]]},{"id":"1ed91944.8ecb67","type":"function","z":"1ccdb44a.47d52c","name":"Simple triggered queue","func":"// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;","outputs":1,"noerr":0,"x":981,"y":1394,"wires":[["a230dbe.0c7da28"]]},{"id":"cf859055.e8745","type":"function","z":"1ccdb44a.47d52c","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":4171.000068664551,"y":1181.0000171661377,"wires":[["ac02c319.ff903"]]},{"id":"ef8a9477.afc288","type":"function","z":"1ccdb44a.47d52c","name":"set trigger","func":"// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;","outputs":1,"noerr":0,"x":2856.000030517578,"y":1437.0000228881836,"wires":[["209bce03.fa8502"]]},{"id":"209bce03.fa8502","type":"link out","z":"1ccdb44a.47d52c","name":"TriggerFromRed","links":["f8138ce8.cb269"],"x":3047.000030517578,"y":1440.0000228881836,"wires":[]},{"id":"ac02c319.ff903","type":"link out","z":"1ccdb44a.47d52c","name":"TriggerFromGreen","links":["f8138ce8.cb269","2d059c4a.cfe644"],"x":4374.000068664551,"y":1183.0000171661377,"wires":[]},{"id":"f8138ce8.cb269","type":"link in","z":"1ccdb44a.47d52c","name":"Trigger","links":["209bce03.fa8502","ac02c319.ff903","54b4aa14.8a1cc4","5868b695.52a088"],"x":732,"y":1394,"wires":[["1ed91944.8ecb67"]]}]