inwerkenExampleFlow.txt
[{"id":"16e462b0.d39ddd","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Strength","group":"Signal Strength","order":"5","format":"{{value.toFixed(2)}}","min":"-140","max":"0","x":1195,"y":58.33333206176758,"wires":[]},{"id":"acfeb9fb.5d5dc8","type":"mqtt in","z":"47865bde.9239f4","name":"","topic":"wsn/dev/+/rx/+/+/+/+/+/+/+/type:shelfnet_packet","qos":"1","broker":"821bab95.2b8f98","x":186.1999969482422,"y":227.78573608398438,"wires":[["f60b55c8.0171d8","e64fdec0.52547"]]},{"id":"f60b55c8.0171d8","type":"json","z":"47865bde.9239f4","name":"decode json","x":447.2000198364258,"y":404.70238876342773,"wires":[["779c7e29.5b07f"]]},{"id":"e64fdec0.52547","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"true","x":360.50001525878906,"y":582.9999847412109,"wires":[]},{"id":"74a332c9.963868","type":"debug","z":"47865bde.9239f4","name":"Output For HCP","active":false,"console":"true","complete":"true","x":515,"y":791.219970703125,"wires":[]},{"id":"f19c8d2c.8f1d7","type":"e-mail","z":"47865bde.9239f4","server":"smtp.gmail.com","port":"465","name":"khan.alkafi@gmail.com","dname":"MyGmail","x":410,"y":712.8067073822021,"wires":[]},{"id":"ae7cc9f2.7bc6a8","type":"http request","z":"47865bde.9239f4","name":"POST get_temp_rh","method":"POST","ret":"obj","url":"http://192.168.122.1:60080/send/get_temp_rh","tls":"","x":2733,"y":921.3299560546875,"wires":[["f14e9a67.dc9b28","597fd003.12cee"]]},{"id":"f14e9a67.dc9b28","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"true","x":2925.571533203125,"y":985.3857421875,"wires":[]},{"id":"18fc4df4.4951b2","type":"http request","z":"47865bde.9239f4","name":"","method":"POST","ret":"txt","url":"","tls":"","x":324.50001525878906,"y":826.4000091552734,"wires":[[]]},{"id":"3aa9e02a.b5f3c","type":"http request","z":"47865bde.9239f4","name":"POST get_brightness","method":"POST","ret":"obj","url":"http://192.168.122.1:60080/send/get_brightness","tls":"","x":2746.74267578125,"y":807.2000732421875,"wires":[["af9d8150.a2c4","597fd003.12cee"]]},{"id":"af9d8150.a2c4","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"true","x":2940.900146484375,"y":767.6286010742188,"wires":[]},{"id":"597fd003.12cee","type":"function","z":"47865bde.9239f4","name":"select successful response","func":"\ntry {\nvar o = msg.payload.data\nif('errno' in o) {\n    return [ null, msg ];\n} else {\n    return [ msg, null ];\n}\n} catch(e) {\n    return [ null, { payload: e } ];\n}","outputs":"2","noerr":0,"x":3013.028564453125,"y":875.628662109375,"wires":[["cc094f1d.6cb3b","1703a0e.0d67c5f"],[]]},{"id":"cc094f1d.6cb3b","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"true","x":3256.04296875,"y":838.3429565429688,"wires":[]},{"id":"8a6f82a9.2bb56","type":"http request","z":"47865bde.9239f4","name":"","method":"POST","ret":"txt","url":"https://iotmmss0004858565trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/2261a5b6-2845-419e-b6b6-586ead26bd40","tls":"","x":3417.5857582092285,"y":902.2571587562561,"wires":[["e1e51734.f1cc68"]]},{"id":"1703a0e.0d67c5f","type":"function","z":"47865bde.9239f4","name":"","func":"\nreturn {\nheaders: {\n    'Authorization': 'Bearer d4c4bb86d4c9c12d2f9f6876fe5929c'\n},\npayload: \n{\n    \"mode\":\"sync\",\n    \"messageType\":\"0e3dabd3828cb5382463\",\n    \"messages\":[\n        {\n            \"timestamp\":Math.floor(new Date().getTime()/1000),\n            \"OnOff\":\"X\",\n            \"comment\":\"\"+msg.payload.message,\n            \"temperature\":\"\"+msg.payload.data.temp,\n            \"brightness\":\"\"\n        }\n    ]\n} }","outputs":1,"noerr":0,"x":3252.728515625,"y":897.9716186523438,"wires":[[]]},{"id":"e1e51734.f1cc68","type":"debug","z":"47865bde.9239f4","name":"","active":true,"console":"false","complete":"true","x":3581.414306640625,"y":903.8858642578125,"wires":[]},{"id":"72af415f.8ece1","type":"mqtt in","z":"47865bde.9239f4","name":"","topic":"wsn/dev/+/rx/+/+/+/+/+/+/+/type:shelfnet_packet","qos":"1","broker":"821bab95.2b8f98","x":188.58334350585938,"y":936.5000205039978,"wires":[["f0d79932.8e6bc8","1799e64.185731a"]]},{"id":"f0d79932.8e6bc8","type":"json","z":"47865bde.9239f4","name":"decode json","x":532.9166946411133,"y":964.4166469573975,"wires":[["f347736a.82b32"]]},{"id":"ddbf1dea.d9c63","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Strength","group":"Signal Strength","order":"6","interpolate":"linear","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1195.000015258789,"y":106.72618865966797,"wires":[["bc90411b.8e227"],["c787c0b6.872c8"]]},{"id":"7ba8d71f.e81ec8","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"SNR","group":"Signal-to-Noise Ratio (SNR)","order":"7","format":"{{value.toFixed(2)}}","min":"-24","max":"100","x":1188.1071853637695,"y":176.869065284729,"wires":[]},{"id":"f99172c5.80fbf","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"SNR","group":"Signal-to-Noise Ratio (SNR)","order":"8","interpolate":"linear","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1186.1071853637695,"y":226.869065284729,"wires":[[],[]]},{"id":"e94dbace.67c9c8","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"RSSI","group":"Received Signal Strength Indicator (RSSI)","order":"9","format":"{{value.toFixed(2)}}","min":"-140","max":10,"x":1185.1071853637695,"y":318.869065284729,"wires":[]},{"id":"7fc22cd9.99fa14","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"RSSI","group":"Received Signal Strength Indicator (RSSI)","order":"10","interpolate":"linear","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1182.1071853637695,"y":368.869065284729,"wires":[[],[]]},{"id":"a62473da.cf64d","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Frequency Shift","group":"Frequency Shift","order":"11","format":"{{value.toFixed(2)}}","min":"-32000","max":"32000","x":1202.1071853637695,"y":451.869065284729,"wires":[]},{"id":"202fa7f5.d3fc58","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Frequency Shift","group":"Frequency Shift","order":"11","interpolate":"linear","nodata":"No Data","removeOlder":"1","removeOlderUnit":"60","x":1200.1071853637695,"y":495.869065284729,"wires":[[],[]]},{"id":"16f88b4d.43cf65","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"payload.message.msg.packetStats","x":1069.107192993164,"y":260.3690586090088,"wires":[]},{"id":"ea5fe30.d46a32","type":"template","z":"47865bde.9239f4","name":"strength","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.packetStats.strength}}}","x":966.6071929931641,"y":77.86905860900879,"wires":[["16e462b0.d39ddd","ddbf1dea.d9c63"]]},{"id":"3b49326e.52573e","type":"template","z":"47865bde.9239f4","name":"snr","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message.msg.packetStats.raw.snr}}","x":954.9642486572266,"y":200.8690586090088,"wires":[["7ba8d71f.e81ec8","f99172c5.80fbf"]]},{"id":"b2eef0f3.c60b1","type":"template","z":"47865bde.9239f4","name":"rssi","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message.msg.packetStats.raw.rssi}}","x":961.9642486572266,"y":339.8690586090088,"wires":[["e94dbace.67c9c8","7fc22cd9.99fa14"]]},{"id":"9af7fd4a.d7be1","type":"template","z":"47865bde.9239f4","name":"freqerr","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.message.msg.packetStats.raw.fei}}","x":948.9642486572266,"y":475.8690586090088,"wires":[["a62473da.cf64d","202fa7f5.d3fc58"]]},{"id":"c787c0b6.872c8","type":"debug","z":"47865bde.9239f4","name":"Signal Strenght Chart Restore Message","active":false,"console":"false","complete":"true","x":1516.857162475586,"y":118.6190538406372,"wires":[]},{"id":"bc90411b.8e227","type":"debug","z":"47865bde.9239f4","name":"Signal Strenght Chart State Message","active":false,"console":"false","complete":"true","x":1506.857162475586,"y":81.6190538406372,"wires":[]},{"id":"779c7e29.5b07f","type":"function","z":"47865bde.9239f4","name":"compute strength","func":"msg.payload.message.msg.packetStats.strength = \n(msg.payload.message.msg.packetStats.raw.snr >= 0) ?\n-164.0 + 16.0/15.0 * (msg.payload.message.msg.packetStats.raw.rssi+164.0) :\n-164.0 + (msg.payload.message.msg.packetStats.raw.rssi+164.0) + msg.payload.message.msg.packetStats.raw.snr ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":590.5237503051758,"y":192.61900806427002,"wires":[["ea5fe30.d46a32","3b49326e.52573e","16f88b4d.43cf65","b2eef0f3.c60b1","9af7fd4a.d7be1"]]},{"id":"f347736a.82b32","type":"switch","z":"47865bde.9239f4","name":"eu_wsni_aegir_state_out","property":"payload.message.msg.packetContents.payload.eu_wsni_aegir_state_out","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":1092.857177734375,"y":828.5714721679688,"wires":[["74197ea2.fec94","c79dd1a2.a823c"],["729ce73a.4c4338","78741a1f.5e7ab4"]]},{"id":"729ce73a.4c4338","type":"debug","z":"47865bde.9239f4","name":"not state_out","active":false,"console":"false","complete":"true","x":1389.357177734375,"y":1347.821533203125,"wires":[]},{"id":"b36bf344.7ab11","type":"template","z":"47865bde.9239f4","name":"Switch 1 Level","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.packetJson.io.0.level}}}","x":1635.857177734375,"y":671.5714721679688,"wires":[["731dba1b.7b2d14","a3e8370f.141a68"]]},{"id":"3831e081.9adaf","type":"template","z":"47865bde.9239f4","name":"Switch 2 Level","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.packetJson.io.1.level}}}","x":1637.107177734375,"y":1057.0714721679688,"wires":[["24cebdf1.f7ba42","8f3f829c.cc70b"]]},{"id":"731dba1b.7b2d14","type":"ui_switch","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Switch 1","topic":"","group":"Signal","order":"101","onvalue":"true","offvalue":"false","x":1861.3929252624512,"y":620.7857961654663,"wires":[[]]},{"id":"a3e8370f.141a68","type":"debug","z":"47865bde.9239f4","name":"Switch 1 Level","active":false,"console":"false","complete":"true","x":1874.8571586608887,"y":574.5714406967163,"wires":[]},{"id":"24cebdf1.f7ba42","type":"ui_switch","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Switch 2","topic":"","group":"Signal","order":"102","onvalue":"true","offvalue":"false","x":1849.857177734375,"y":1162.7142333984375,"wires":[[]]},{"id":"8f3f829c.cc70b","type":"debug","z":"47865bde.9239f4","name":"Switch 2 Level","active":false,"console":"false","complete":"true","x":1867.107177734375,"y":1111.5714111328125,"wires":[]},{"id":"78741a1f.5e7ab4","type":"switch","z":"47865bde.9239f4","name":"eu_wsni_aegir_brightness_out","property":"payload.message.msg.packetContents.payload.eu_wsni_aegir_brightness_out","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":1121.857177734375,"y":1419.571533203125,"wires":[["903b2834.e4cc08"],["e32341a7.724f5","f3b44ce2.aa52a"]]},{"id":"e32341a7.724f5","type":"debug","z":"47865bde.9239f4","name":"not brightness_out","active":false,"console":"false","complete":"true","x":1410.857177734375,"y":1563.571533203125,"wires":[]},{"id":"6f1548e.bf91bb8","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Brighness","group":"Sensor","order":"120","format":"{{value}} lux","min":0,"max":"100000","x":1619.857177734375,"y":1462.571533203125,"wires":[]},{"id":"abf52713.5bf0b8","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Brightness","group":"Sensor","order":"121","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":1627.857177734375,"y":1503.571533203125,"wires":[[],[]]},{"id":"f3b44ce2.aa52a","type":"switch","z":"47865bde.9239f4","name":"eu_wsni_aegir_temp_rh_out","property":"payload.message.msg.packetContents.payload.eu_wsni_aegir_temp_rh_out","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":1110.364990234375,"y":1650.594970703125,"wires":[["106d0bf5.1e2294","cf303f70.9b84a"],["5b957fc9.10cfe"]]},{"id":"5b957fc9.10cfe","type":"debug","z":"47865bde.9239f4","name":"not temp_rh_out","active":false,"console":"false","complete":"true","x":1411.5078239440918,"y":2051.5950565338135,"wires":[]},{"id":"5d29ceac.62b65","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Temperature","group":"Sensor","order":"222","format":"{{value}} °C","min":0,"max":"100","x":1609.364990234375,"y":1696.594970703125,"wires":[]},{"id":"49aa0cfb.6d7734","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Temperature","group":"Sensor","order":"223","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":1609.364990234375,"y":1733.594970703125,"wires":[[],[]]},{"id":"ce2f71d2.aa5f8","type":"ui_gauge","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Humidity","group":"Sensor","order":"224","format":"{{value}} %","min":0,"max":"100","x":1611.5078735351562,"y":1910.4521675109863,"wires":[]},{"id":"879ffa00.242df8","type":"ui_chart","z":"47865bde.9239f4","tab":"324cae0d.0cc622","name":"Humidity","group":"Sensor","order":"225","interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"86400","x":1611.5078735351562,"y":1947.4521675109863,"wires":[[],[]]},{"id":"903b2834.e4cc08","type":"function","z":"47865bde.9239f4","name":"compute brightness","func":"\nvar brightnessValue = msg.payload.message.msg.packetJson.brightness;\n\nbrightnessValue = brightnessValue /100;\n\nmsg.payload = brightnessValue;\n\nreturn msg;","outputs":"1","noerr":0,"x":1420.857177734375,"y":1479.571533203125,"wires":[["6f1548e.bf91bb8","abf52713.5bf0b8"]]},{"id":"106d0bf5.1e2294","type":"function","z":"47865bde.9239f4","name":"compute temperature","func":" \nvar temperatureValue = msg.payload.message.msg.packetJson.temp;\n\ntemperatureValue = temperatureValue /100;\n\nmsg.payload = temperatureValue;\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":1416.857177734375,"y":1711.571533203125,"wires":[["5d29ceac.62b65","49aa0cfb.6d7734"]]},{"id":"cf303f70.9b84a","type":"function","z":"47865bde.9239f4","name":"compute humidity","func":"\nvar humidityValue = msg.payload.message.msg.packetJson.rh;\n\nhumidityValue = humidityValue /100;\n\nmsg.payload = humidityValue;\n\nreturn msg;\n\n","outputs":"1","noerr":0,"x":1404.0000610351562,"y":1933.4287300109863,"wires":[["ce2f71d2.aa5f8","879ffa00.242df8"]]},{"id":"1799e64.185731a","type":"debug","z":"47865bde.9239f4","name":"","active":true,"console":"false","complete":"true","x":481,"y":1047,"wires":[]},{"id":"353eae8b.cefc72","type":"function","z":"47865bde.9239f4","name":"get_brightness command","func":"var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":address,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":806,"wires":[["8cd313b4.94eb2"]]},{"id":"8cd313b4.94eb2","type":"json","z":"47865bde.9239f4","name":"encode json","x":2554,"y":806,"wires":[["3aa9e02a.b5f3c"]]},{"id":"15314d87.d46f22","type":"json","z":"47865bde.9239f4","name":"encode json","x":2548,"y":921,"wires":[["ae7cc9f2.7bc6a8"]]},{"id":"1694fb23.e9f825","type":"function","z":"47865bde.9239f4","name":"get_temp_rh command","func":"var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":address,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":2346,"y":921,"wires":[["15314d87.d46f22"]]},{"id":"74197ea2.fec94","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"false","x":1419,"y":621,"wires":[]},{"id":"c79dd1a2.a823c","type":"rbe","z":"47865bde.9239f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":1303,"y":824,"wires":[["2e22ee4a.6f2792"]]},{"id":"d495990d.d9d9c8","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"unitAddress","x":1663,"y":820,"wires":[]},{"id":"2e22ee4a.6f2792","type":"template","z":"47865bde.9239f4","name":"","field":"unitAddress","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.unitAddress}}}","x":1455,"y":822,"wires":[["d495990d.d9d9c8","b36bf344.7ab11","3831e081.9adaf","13bde8a7.4da347","35e571b4.eda63e"]]},{"id":"a9ca8c21.049e7","type":"rbe","z":"47865bde.9239f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":2097,"y":942,"wires":[["1694fb23.e9f825","b4181ccd.6e006"]]},{"id":"e25964bd.cfb5b8","type":"rbe","z":"47865bde.9239f4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":2081,"y":729,"wires":[["353eae8b.cefc72","2bc8beaf.cfd9e2"]]},{"id":"1f2af3b3.e0045c","type":"template","z":"47865bde.9239f4","name":"Switch 1 Sequence","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.packetJson.io.0.sequence}}}","x":1902,"y":729,"wires":[["e25964bd.cfb5b8"]]},{"id":"2bc8beaf.cfd9e2","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"true","x":2253,"y":695,"wires":[]},{"id":"3aaf959f.373e3a","type":"template","z":"47865bde.9239f4","name":"Switch 2 Sequence","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.packetJson.io.1.sequence}}}","x":1901,"y":944,"wires":[["a9ca8c21.049e7"]]},{"id":"b4181ccd.6e006","type":"debug","z":"47865bde.9239f4","name":"","active":false,"console":"false","complete":"true","x":2255,"y":993,"wires":[]},{"id":"13bde8a7.4da347","type":"switch","z":"47865bde.9239f4","name":"Switch 1 Level","property":"payload.message.msg.packetJson.io.0.level","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1674,"y":740,"wires":[["1f2af3b3.e0045c"],[]]},{"id":"35e571b4.eda63e","type":"switch","z":"47865bde.9239f4","name":"Switch 2 Level","property":"payload.message.msg.packetJson.io.1.level","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1676,"y":938,"wires":[["3aaf959f.373e3a"],[]]},{"id":"324cae0d.0cc622","type":"ui_tab","z":"47865bde.9239f4","name":"Inwerken","icon":"dashboard","order":"1"},{"id":"821bab95.2b8f98","type":"mqtt-broker","z":"47865bde.9239f4","broker":"192.168.122.1","port":"1883","clientid":"guest-machine-nodered-signalwatch","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]