masterFlow.txt
[{"id":"8fba3d73.07e26","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"true","complete":"true","x":3022.28316116333,"y":127.19999122619629,"wires":[]},{"id":"98f6de0e.10e5a","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"true","complete":"true","x":3021.783489227295,"y":209.69999980926514,"wires":[]},{"id":"f769c5ac.76b6a8","type":"inject","z":"1ccdb44a.47d52c","name":"start calling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":125.9285659790039,"y":426.9642696380615,"wires":[["8b8e1bab.3860a8","fe53e24f.8585","665d2239.8ff39c","239b757.6119a8a"]]},{"id":"8b8e1bab.3860a8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"payload","x":351.3333511352539,"y":347.91666889190674,"wires":[]},{"id":"665d2239.8ff39c","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":357.99998474121094,"y":136.10713386535645,"wires":[["5e86bb05.064dd4","dabdabbf.e8e898"]]},{"id":"5e86bb05.064dd4","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":false,"console":"false","complete":"payload","x":401.00000762939453,"y":247.75000762939453,"wires":[]},{"id":"dabdabbf.e8e898","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":646.6071166992188,"y":138.53570747375488,"wires":[["91afbd2a.a0bf6","f5dd0816.eef0f8"]]},{"id":"91afbd2a.a0bf6","type":"http request","z":"1ccdb44a.47d52c","name":"push get_brightness to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":906.6428833007812,"y":141.4285545349121,"wires":[["d2576406.7d2f58","d0d055e4.2928d8"]]},{"id":"d2576406.7d2f58","type":"debug","z":"1ccdb44a.47d52c","name":"brightness msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1050.6667022705078,"y":256.33331298828125,"wires":[]},{"id":"fe53e24f.8585","type":"function","z":"1ccdb44a.47d52c","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":400.00000381469727,"y":417.7500114440918,"wires":[["3bd8a581.e831ea","37fbba5.a071946"]]},{"id":"f5dd0816.eef0f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":699.5000152587891,"y":249.75000762939453,"wires":[]},{"id":"3bd8a581.e831ea","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":651.7500076293945,"y":417.7500343322754,"wires":[["869a507d.614a2","8623bffe.6f1e"]]},{"id":"869a507d.614a2","type":"http request","z":"1ccdb44a.47d52c","name":"push get_temp_rh to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":926.7500152587891,"y":417.50000381469727,"wires":[["383a561c.98409a","ab9ea155.5be7f"]]},{"id":"97cd0d22.99e86","type":"function","z":"1ccdb44a.47d52c","name":"build HANA brightness push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"21a2cbfb64a1add0f24d\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"lux\":brightness/100.0}]};\nreturn msg;","outputs":"1","noerr":0,"x":2027.8569946289062,"y":128.3452548980713,"wires":[["44fe4276.9e39ec","22947f53.45f6a"]]},{"id":"383a561c.98409a","type":"debug","z":"1ccdb44a.47d52c","name":"temp_rh msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1061.3332977294922,"y":524.5833339691162,"wires":[]},{"id":"7bd9215.03ce6e","type":"debug","z":"1ccdb44a.47d52c","name":"message going to iotmms","active":true,"console":"false","complete":"payload","x":1928.4499053955078,"y":348.36670112609863,"wires":[]},{"id":"239b757.6119a8a","type":"function","z":"1ccdb44a.47d52c","name":"gettime command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"gettime\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":374.6666564941406,"y":651.2499961853027,"wires":[["fddbdc2b.e74d3","ad1a069e.6247f8"]]},{"id":"fddbdc2b.e74d3","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":false,"console":"false","complete":"payload","x":417.6666793823242,"y":762.8928699493408,"wires":[]},{"id":"ad1a069e.6247f8","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":683.2737884521484,"y":653.6785697937012,"wires":[["e2e52259.ea9ea","99806eef.d6177"]]},{"id":"e2e52259.ea9ea","type":"http request","z":"1ccdb44a.47d52c","name":"push gettime to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/gettime","tls":"","x":928.3095855712891,"y":654.0714178085327,"wires":[["13c793cb.77288c","aee30dbc.c5184"]]},{"id":"13c793cb.77288c","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1053.1666870117188,"y":760.6428699493408,"wires":[]},{"id":"99806eef.d6177","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":736.1666870117188,"y":764.8928699493408,"wires":[]},{"id":"8623bffe.6f1e","type":"debug","z":"1ccdb44a.47d52c","name":"encode json check1","active":true,"console":"false","complete":"payload","x":711.3333435058594,"y":524.5833320617676,"wires":[]},{"id":"37fbba5.a071946","type":"debug","z":"1ccdb44a.47d52c","name":"get_temp_rh command","active":true,"console":"false","complete":"payload","x":429.6666564941406,"y":526.2499961853027,"wires":[]},{"id":"44fe4276.9e39ec","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2302.8331985473633,"y":54.416664123535156,"wires":[]},{"id":"24cd8f3b.3fc4","type":"debug","z":"1ccdb44a.47d52c","name":"join check","active":true,"console":"false","complete":"payload","x":1591.3332748413086,"y":313.75006675720215,"wires":[]},{"id":"e12d0400.325e38","type":"join","z":"1ccdb44a.47d52c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1406.3332710266113,"y":431.2499694824219,"wires":[["24cd8f3b.3fc4","e0d8bd0f.775b7"]]},{"id":"d0d055e4.2928d8","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"birghtness\";\nreturn msg;","outputs":1,"noerr":0,"x":1168.000129699707,"y":142.9166717529297,"wires":[["e12d0400.325e38"]]},{"id":"ab9ea155.5be7f","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"x":1175.500015258789,"y":418.7499723434448,"wires":[["e12d0400.325e38"]]},{"id":"aee30dbc.c5184","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"time\";\nreturn msg;","outputs":1,"noerr":0,"x":1184.6666412353516,"y":654.5833196640015,"wires":[["e12d0400.325e38"]]},{"id":"6a65cb48.99b024","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2819.499954223633,"y":126.08335208892822,"wires":[["8fba3d73.07e26"]]},{"id":"22947f53.45f6a","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2284.333267211914,"y":120.69995975494385,"wires":[["10cb66cd.4eca29"]]},{"id":"10cb66cd.4eca29","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2562.4164428710938,"y":128.3833293914795,"wires":[["6a65cb48.99b024"]]},{"id":"e06e29dd.fb7f28","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2816.5002822875977,"y":211.0833616256714,"wires":[["98f6de0e.10e5a"]]},{"id":"5965f4ed.292b6c","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2291.500274658203,"y":209.70002269744873,"wires":[["b7ba2e7c.65791"]]},{"id":"b7ba2e7c.65791","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2563.916778564453,"y":211.3832883834839,"wires":[["e06e29dd.fb7f28"]]},{"id":"794209c2.43f1f8","type":"function","z":"1ccdb44a.47d52c","name":"build HANA temp push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"be77e1f13675f09bc87a\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"celsius\":temp/100.0}]};\nreturn msg;","outputs":"1","noerr":0,"x":2040.000228881836,"y":213.58341693878174,"wires":[["5965f4ed.292b6c"]]},{"id":"bdb21212.e877d","type":"function","z":"1ccdb44a.47d52c","name":"Check Temperature Range","func":"//check temp range\nvar temp = msg.payload.messages[0].celsius;\nif (temp > 0 || temp < 50) \n{\n    //set led to red\n    msg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\n}\n//add error flag\n//msg.messages.flag = \"tempOutOfBounds\";\nreturn msg;","outputs":1,"noerr":0,"x":1967.3332061767578,"y":556.9167175292969,"wires":[["a0234d40.36f11","37675210.21172e"]]},{"id":"a0234d40.36f11","type":"debug","z":"1ccdb44a.47d52c","name":"temp range function node check","active":true,"console":"false","complete":"payload","x":2233.3330078125,"y":650.9166316986084,"wires":[]},{"id":"4f6c909b.21465","type":"function","z":"1ccdb44a.47d52c","name":"set_led green command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"224\"}};\nreturn msg;","outputs":1,"noerr":0,"x":776.0951461791992,"y":1216.4881210327148,"wires":[["74cc0369.2aa15c","6c481c89.c22dc4"]]},{"id":"74cc0369.2aa15c","type":"debug","z":"1ccdb44a.47d52c","name":"set_led green command","active":true,"console":"false","complete":"payload","x":819.0951690673828,"y":1328.130994796753,"wires":[]},{"id":"6c481c89.c22dc4","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":1064.702278137207,"y":1218.9166946411133,"wires":[["9165c309.9ceb6","57475cf6.7873c4"]]},{"id":"9165c309.9ceb6","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":1309.7380752563477,"y":1219.3095426559448,"wires":[["6788c765.e34148","f42ad305.9349f"]]},{"id":"6788c765.e34148","type":"debug","z":"1ccdb44a.47d52c","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1444.5951766967773,"y":1325.880994796753,"wires":[]},{"id":"57475cf6.7873c4","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":1117.5951766967773,"y":1330.130994796753,"wires":[]},{"id":"a4fa4663.459d58","type":"function","z":"1ccdb44a.47d52c","name":"set_led off command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"0\", \"sequence\" : \"0\", \"color\" :\"96\"}};\nreturn msg;","outputs":1,"noerr":0,"x":2127.5237350463867,"y":1224.1071228981018,"wires":[["56de6dfb.e08154","1c07cd35.af3e33"]]},{"id":"56de6dfb.e08154","type":"debug","z":"1ccdb44a.47d52c","name":"set_led off command","active":true,"console":"false","complete":"payload","x":2170.5237579345703,"y":1335.74999666214,"wires":[]},{"id":"1c07cd35.af3e33","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2426.1308670043945,"y":1226.5356965065002,"wires":[["49fde237.b94c0c","7c988ba1.934bd4"]]},{"id":"817d246e.8ae428","type":"debug","z":"1ccdb44a.47d52c","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2806.023765563965,"y":1333.49999666214,"wires":[]},{"id":"49fde237.b94c0c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2479.023765563965,"y":1337.74999666214,"wires":[]},{"id":"8b14857b.5caf18","type":"delay","z":"1ccdb44a.47d52c","name":"Delay Between green and off","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1845.6190490722656,"y":1222.4405536651611,"wires":[["a4fa4663.459d58"]]},{"id":"ed875e49.1338d","type":"inject","z":"1ccdb44a.47d52c","name":"Turn off LED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":1924.9998588562012,"y":1115.5832529067993,"wires":[["a4fa4663.459d58"]]},{"id":"7c988ba1.934bd4","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2699.6663970947266,"y":1227.9166293144226,"wires":[["817d246e.8ae428"]]},{"id":"f42ad305.9349f","type":"change","z":"1ccdb44a.47d52c","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1566.333351135254,"y":1221.2500019073486,"wires":[["8b14857b.5caf18"]]},{"id":"ac8715f3.4f6938","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2458.4996032714844,"y":560.5833759307861,"wires":[["82c9e1af.7edde"]]},{"id":"82c9e1af.7edde","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2703.617935180664,"y":559.6979999542236,"wires":[[]]},{"id":"e0d8bd0f.775b7","type":"function","z":"1ccdb44a.47d52c","name":"build HANA push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"97d60845fefc73d17794\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"celsius\":temp/100.0,\"lux\":brightness/100.0,\"isoutofbounds\":false}]};\nreturn msg;","outputs":"1","noerr":0,"x":1647.6665802001953,"y":431.33331871032715,"wires":[["7bd9215.03ce6e","bdb21212.e877d","7ec44c65.8ce464"]]},{"id":"1eebf7ef.ec4dd8","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":1941,"y":441,"wires":[["200ad7bf.f21528"]]},{"id":"200ad7bf.f21528","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 38f076a2a3daabae17e45d7224689861\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2212,"y":440,"wires":[["c070917b.af9ee"]]},{"id":"c070917b.af9ee","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/76ee3496-02b7-4f45-8571-a661a5b936b7","tls":"","x":2471,"y":439,"wires":[["de22727.ce4439"]]},{"id":"de22727.ce4439","type":"debug","z":"1ccdb44a.47d52c","name":"Return from Push to iotmms","active":true,"console":"true","complete":"true","x":2750,"y":439,"wires":[]},{"id":"5947ede3.f07de4","type":"change","z":"1ccdb44a.47d52c","name":"create set_led message","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2088.3331718444824,"y":828.3332595825195,"wires":[["48842be7.f2e6b4"]]},{"id":"7ec44c65.8ce464","type":"switch","z":"1ccdb44a.47d52c","name":"Check temp","property":"payload.messages[0].celsius","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":1879.9999084472656,"y":828.3333206176758,"wires":[["5947ede3.f07de4"]]},{"id":"48842be7.f2e6b4","type":"debug","z":"1ccdb44a.47d52c","name":"temp range switch/change node check","active":false,"console":"false","complete":"payload","x":2291.666675567627,"y":908.3333444595337,"wires":[]},{"id":"170c88af.392207","type":"function","z":"1ccdb44a.47d52c","name":"set_led red command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"25\"}};\nreturn msg;","outputs":1,"noerr":0,"x":763.3333053588867,"y":1471.6665782928467,"wires":[["5de5e71a.605a28","6a822332.9da7ec"]]},{"id":"5de5e71a.605a28","type":"debug","z":"1ccdb44a.47d52c","name":"set_led red command","active":true,"console":"false","complete":"payload","x":806.3333282470703,"y":1583.3094520568848,"wires":[]},{"id":"6a822332.9da7ec","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":1061.9404373168945,"y":1474.0951519012451,"wires":[["c9b32880.58e728","dd10091e.aaf948"]]},{"id":"c9b32880.58e728","type":"http request","z":"1ccdb44a.47d52c","name":"push set_led to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":1306.9762344360352,"y":1474.4879999160767,"wires":[["3b92ee3c.665fa2"]]},{"id":"3b92ee3c.665fa2","type":"debug","z":"1ccdb44a.47d52c","name":"set_led msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1441.8333358764648,"y":1581.0594520568848,"wires":[]},{"id":"dd10091e.aaf948","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":1114.8333358764648,"y":1585.3094520568848,"wires":[]},{"id":"932d8ada.4529f8","type":"switch","z":"1ccdb44a.47d52c","name":"green or red flag check","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":458.33331298828125,"y":1335.0000133514404,"wires":[["4f6c909b.21465"],["170c88af.392207"]]},{"id":"37675210.21172e","type":"change","z":"1ccdb44a.47d52c","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2241.666591644287,"y":561.6666479110718,"wires":[["ac8715f3.4f6938"]]}]