requestDataFlow.txt
[{"id":"32045af3.2d2606","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"true","complete":"true","x":2735.28324508667,"y":428.61664485931396,"wires":[]},{"id":"417602ff.385dbc","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"true","complete":"true","x":2737.78324508667,"y":536.1166458129883,"wires":[]},{"id":"7ba7e4d9.e4f30c","type":"inject","z":"1ccdb44a.47d52c","name":"start calling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.9285659790039,"y":455.71426582336426,"wires":[["cb117cb8.1cf2c","ecac340d.0e7118","66935b40.b14934","ca509d38.9e103"]]},{"id":"cb117cb8.1cf2c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"payload","x":413.3333511352539,"y":386.666672706604,"wires":[]},{"id":"66935b40.b14934","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":419.99998474121094,"y":174.8571376800537,"wires":[["4afdbdc2.874f84","f8229bf3.661398"]]},{"id":"4afdbdc2.874f84","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":false,"console":"false","complete":"payload","x":463.00000762939453,"y":286.5000114440918,"wires":[]},{"id":"f8229bf3.661398","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":708.6071166992188,"y":177.28571128845215,"wires":[["58bef0d4.f02fb","aa661547.a632f8"]]},{"id":"58bef0d4.f02fb","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":918.6428833007812,"y":180.17855834960938,"wires":[["e42fd0ff.bdd44","12224147.199f8f"]]},{"id":"e42fd0ff.bdd44","type":"debug","z":"1ccdb44a.47d52c","name":"brightness msg object returned from ShelfNet","active":false,"console":"false","complete":"payload","x":1112.6667022705078,"y":295.0833168029785,"wires":[]},{"id":"ecac340d.0e7118","type":"function","z":"1ccdb44a.47d52c","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":462.00000381469727,"y":456.50001525878906,"wires":[["9287e13d.aedf2","5d7aa732.fd6148"]]},{"id":"aa661547.a632f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":761.5000152587891,"y":288.5000114440918,"wires":[]},{"id":"9287e13d.aedf2","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":713.7500076293945,"y":456.50003814697266,"wires":[["6a842d6d.7baee4","7007527d.f8cd5c"]]},{"id":"6a842d6d.7baee4","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":938.7500152587891,"y":456.25000762939453,"wires":[["c76ea406.b2a1b8","686651bc.b10d3"]]},{"id":"54348bcd.488bf4","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"txt","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2423.5000381469727,"y":209.3333797454834,"wires":[[]]},{"id":"fdca0d60.14b81","type":"debug","z":"1ccdb44a.47d52c","name":"Formatted HANA Message","active":false,"console":"true","complete":"payload","x":1911.5832824707031,"y":95.75000381469727,"wires":[]},{"id":"a25f24ba.ced408","type":"function","z":"1ccdb44a.47d52c","name":"build HANA brightness push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"21a2cbfb64a1add0f24d\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"lux\":brightness/100.0}]};\nreturn msg;","outputs":"1","noerr":0,"x":1740.857078552246,"y":429.76190853118896,"wires":[["7daa951c.16225c","65ee8f1.abe2d7"]]},{"id":"c76ea406.b2a1b8","type":"debug","z":"1ccdb44a.47d52c","name":"temp_rh msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1085,"y":565,"wires":[]},{"id":"be4de3f8.45502","type":"function","z":"1ccdb44a.47d52c","name":"Build HANA JSON Brightness Payload","func":"//Split current payload into array\n//var unformattedMsg = JSON.parse(msg.payload);\nvar msgArray = msg.payload.split(\" \");\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"21a2cbfb64a1add0f24d\", \"messages\":[{\"id\":\"SensorNameHere\", \"timestamp\":\"2016-11-15T08:45:37.930Z\", \"lux\": msgArray[5]}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":1585.6836242675781,"y":194.30002212524414,"wires":[["fdca0d60.14b81","fd483ce.009f2c"]]},{"id":"65bc774f.6b0648","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"payload","x":2008.7832336425781,"y":610.4500217437744,"wires":[]},{"id":"fd483ce.009f2c","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":1907.5000305175781,"y":201.44998741149902,"wires":[["37dbd2c4.dcabfe"]]},{"id":"37dbd2c4.dcabfe","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2173.416534423828,"y":212.13333702087402,"wires":[["54348bcd.488bf4"]]},{"id":"ca509d38.9e103","type":"function","z":"1ccdb44a.47d52c","name":"gettime command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"gettime\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":436.6666564941406,"y":690,"wires":[["d538c843.846c98","926294e5.5deb58"]]},{"id":"d538c843.846c98","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":false,"console":"false","complete":"payload","x":479.6666793823242,"y":801.6428737640381,"wires":[]},{"id":"926294e5.5deb58","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":745.2737884521484,"y":692.4285736083984,"wires":[["bd46764.2ef6688","6166000.0c1f8"]]},{"id":"bd46764.2ef6688","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/gettime","tls":"","x":960.3095855712891,"y":692.82142162323,"wires":[["f0d02d5.c531ed","fd0c6acc.21b7e8"]]},{"id":"f0d02d5.c531ed","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":false,"console":"false","complete":"payload","x":1115.1666870117188,"y":799.3928737640381,"wires":[]},{"id":"6166000.0c1f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":798.1666870117188,"y":803.6428737640381,"wires":[]},{"id":"7007527d.f8cd5c","type":"debug","z":"1ccdb44a.47d52c","name":"encode json check1","active":true,"console":"false","complete":"payload","x":773.3333435058594,"y":563.3333358764648,"wires":[]},{"id":"5d7aa732.fd6148","type":"debug","z":"1ccdb44a.47d52c","name":"get_temp_rh command","active":true,"console":"false","complete":"payload","x":491.6666564941406,"y":565,"wires":[]},{"id":"7daa951c.16225c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2015.8332824707031,"y":355.83331775665283,"wires":[]},{"id":"d9580cd8.cf15a","type":"debug","z":"1ccdb44a.47d52c","name":"join check","active":true,"console":"false","complete":"payload","x":1653.3332748413086,"y":352.5000705718994,"wires":[]},{"id":"874e643a.49d2c8","type":"join","z":"1ccdb44a.47d52c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1468.3332710266113,"y":469.99997329711914,"wires":[["a25f24ba.ced408","d9580cd8.cf15a","1a9b5a23.bef776"]]},{"id":"12224147.199f8f","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"birghtness\";\nreturn msg;","outputs":1,"noerr":0,"x":1230.000129699707,"y":181.66667556762695,"wires":[["874e643a.49d2c8"]]},{"id":"686651bc.b10d3","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"x":1237.500015258789,"y":457.4999761581421,"wires":[["874e643a.49d2c8"]]},{"id":"fd0c6acc.21b7e8","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"time\";\nreturn msg;","outputs":1,"noerr":0,"x":1246.6666412353516,"y":693.3333234786987,"wires":[["874e643a.49d2c8"]]},{"id":"b0a41947.5d76f8","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2532.5000381469727,"y":427.5000057220459,"wires":[["32045af3.2d2606"]]},{"id":"65ee8f1.abe2d7","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2013.9999923706055,"y":427.1166076660156,"wires":[["7d860ecd.d9b8f"]]},{"id":"7d860ecd.d9b8f","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2272.416534423828,"y":427.7999629974365,"wires":[["b0a41947.5d76f8"]]},{"id":"404026a5.fc55a8","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"obj","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2532.5000381469727,"y":537.5000076293945,"wires":[["417602ff.385dbc"]]},{"id":"beb8596e.a19b88","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2011.5000305175781,"y":537.1166458129883,"wires":[["e8d8a51e.5eb358"]]},{"id":"e8d8a51e.5eb358","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2279.916534423828,"y":537.799934387207,"wires":[["404026a5.fc55a8"]]},{"id":"1a9b5a23.bef776","type":"function","z":"1ccdb44a.47d52c","name":"build HANA temp push","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar year = msg.payload.time.data.year;\nvar month = msg.payload.time.data.month;\nvar day = msg.payload.time.data.day;\nvar hours = msg.payload.time.data.hours;\nvar minutes = msg.payload.time.data.minutes;\nvar seconds = msg.payload.time.data.seconds;\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"be77e1f13675f09bc87a\", \"messages\":[{\"id\":context.global.Xexsg,\"timestamp\":year+\"-\"+month+\"-\"+day+\"T\"+hours+\":\"+minutes+\":\"+seconds,\"celsius\":temp/100.0}]};\nreturn msg;","outputs":"1","noerr":0,"x":1745.0000228881836,"y":535.0000076293945,"wires":[["65bc774f.6b0648","beb8596e.a19b88","7d718de7.4a1644"]]},{"id":"7d718de7.4a1644","type":"function","z":"1ccdb44a.47d52c","name":"Check Temperature Range","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2088.6665802001953,"y":986.9999876022339,"wires":[["944eae8d.08024"]]},{"id":"944eae8d.08024","type":"debug","z":"1ccdb44a.47d52c","name":"temp range function check","active":true,"console":"false","complete":"payload","x":2436.666534423828,"y":912.0000152587891,"wires":[]},{"id":"327b3a6b.2fdf56","type":"function","z":"1ccdb44a.47d52c","name":"set_led green command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"255\", \"sequence\" : \"0\", \"color\" :\"224\"}};\nreturn msg;","outputs":1,"noerr":0,"x":424.7618408203125,"y":1281.9047985076904,"wires":[["1912b173.05efff","749ab31b.2f1fcc"]]},{"id":"1912b173.05efff","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":true,"console":"false","complete":"payload","x":447.7618637084961,"y":1393.5476722717285,"wires":[]},{"id":"749ab31b.2f1fcc","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":713.3689727783203,"y":1284.3333721160889,"wires":[["4aacc5e3.a2e08c","699d35f3.b6482c"]]},{"id":"4aacc5e3.a2e08c","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":928.4047698974609,"y":1284.7262201309204,"wires":[["7704e3ba.71018c","14fb8573.21e3cb"]]},{"id":"7704e3ba.71018c","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1083.2618713378906,"y":1391.2976722717285,"wires":[]},{"id":"699d35f3.b6482c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":766.2618713378906,"y":1395.5476722717285,"wires":[]},{"id":"a3561aa7.f4cc28","type":"function","z":"1ccdb44a.47d52c","name":"set_led off command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"set_led\",\"unit\":context.global.Xexsg,\"arguments\":{\"id\" : \"0\", \"brightness\" : \"0\", \"sequence\" : \"0\", \"color\" :\"96\"}};\nreturn msg;","outputs":1,"noerr":0,"x":1776.1904296875,"y":1289.5238003730774,"wires":[["e1370199.71c09","55ea5dd5.f9c554"]]},{"id":"e1370199.71c09","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":true,"console":"false","complete":"payload","x":1809.1904525756836,"y":1401.1666741371155,"wires":[]},{"id":"55ea5dd5.f9c554","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":2074.797561645508,"y":1291.9523739814758,"wires":[["e42d1452.33e048","154bb52f.2cf82b"]]},{"id":"195c71de.a6487e","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":2444.690460205078,"y":1398.9166741371155,"wires":[]},{"id":"e42d1452.33e048","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":2127.690460205078,"y":1403.1666741371155,"wires":[]},{"id":"fd4922a7.932ad","type":"delay","z":"1ccdb44a.47d52c","name":"Delay Between green and off","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1474.2858123779297,"y":1289.5238952636719,"wires":[["a3561aa7.f4cc28"]]},{"id":"e120d7e6.e750c8","type":"inject","z":"1ccdb44a.47d52c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":127,"y":1281,"wires":[["327b3a6b.2fdf56"]]},{"id":"154bb52f.2cf82b","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/set_led","tls":"","x":2318.33309173584,"y":1293.3333067893982,"wires":[["195c71de.a6487e"]]},{"id":"14fb8573.21e3cb","type":"change","z":"1ccdb44a.47d52c","name":"Delete header clash","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1189.9999618530273,"y":1284.999967098236,"wires":[["fd4922a7.932ad"]]}]