requestDataFlow.txt
[{"id":"7ba7e4d9.e4f30c","type":"inject","z":"1ccdb44a.47d52c","name":"start calling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":145.42856979370117,"y":175.71426963806152,"wires":[["cb117cb8.1cf2c","66935b40.b14934","ecac340d.0e7118","ca509d38.9e103"]]},{"id":"cb117cb8.1cf2c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"payload","x":303.3333435058594,"y":76.66667366027832,"wires":[]},{"id":"66935b40.b14934","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":419.99998474121094,"y":174.8571376800537,"wires":[["4afdbdc2.874f84","f8229bf3.661398"]]},{"id":"4afdbdc2.874f84","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":false,"console":"false","complete":"payload","x":463.00000762939453,"y":286.5000114440918,"wires":[]},{"id":"f8229bf3.661398","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":708.6071166992188,"y":177.28571128845215,"wires":[["58bef0d4.f02fb","aa661547.a632f8"]]},{"id":"58bef0d4.f02fb","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":918.6428833007812,"y":180.17855834960938,"wires":[["e42fd0ff.bdd44","12224147.199f8f"]]},{"id":"e42fd0ff.bdd44","type":"debug","z":"1ccdb44a.47d52c","name":"brightness msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1050.1667022705078,"y":307.58332443237305,"wires":[]},{"id":"ecac340d.0e7118","type":"function","z":"1ccdb44a.47d52c","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":462.00000381469727,"y":456.50001525878906,"wires":[["9287e13d.aedf2","5d7aa732.fd6148"]]},{"id":"aa661547.a632f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":761.5000152587891,"y":288.5000114440918,"wires":[]},{"id":"9287e13d.aedf2","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":713.7500076293945,"y":456.50003814697266,"wires":[["6a842d6d.7baee4","7007527d.f8cd5c"]]},{"id":"6a842d6d.7baee4","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":938.7500152587891,"y":456.25000762939453,"wires":[["c76ea406.b2a1b8","686651bc.b10d3"]]},{"id":"54348bcd.488bf4","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"txt","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/956430da-e9ae-40c4-81ef-4715f3d88fb5","tls":"","x":2438.4998779296875,"y":326.83338165283203,"wires":[["65bc774f.6b0648"]]},{"id":"fdca0d60.14b81","type":"debug","z":"1ccdb44a.47d52c","name":"Formatted HANA Message","active":false,"console":"true","complete":"payload","x":1901.5833129882812,"y":245.74999809265137,"wires":[]},{"id":"a25f24ba.ced408","type":"function","z":"1ccdb44a.47d52c","name":"build message for HANA","func":"var brightness = msg.payload.birghtness.data.brightness;\nvar temp = msg.payload.temp.data.temp;\nvar time = msg.payload.time.message;\n\nmsg.payload = {\"access_token\":\"cce4a153e33d58589999288885e06793\",\"unit\":context.global.Xexsg,\"brightness\":brightness,\"temp\":temp,\"time\":time};\nreturn msg;","outputs":"1","noerr":0,"x":1688.357078552246,"y":469.76189041137695,"wires":[["7daa951c.16225c"]]},{"id":"c76ea406.b2a1b8","type":"debug","z":"1ccdb44a.47d52c","name":"temp_rh msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1085,"y":565,"wires":[]},{"id":"be4de3f8.45502","type":"function","z":"1ccdb44a.47d52c","name":"Build HANA JSON Brightness Payload","func":"//Split current payload into array\n//var unformattedMsg = JSON.parse(msg.payload);\nvar msgArray = msg.payload.split(\" \");\n\nmsg.payload = {\"mode\":\"sync\", \"messageType\":\"21a2cbfb64a1add0f24d\", \"messages\":[{\"id\":\"SensorNameHere\", \"timestamp\":\"2016-11-15T08:45:37.930Z\", \"lux\": msgArray[5]}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":1608.183609008789,"y":311.80001068115234,"wires":[["fdca0d60.14b81","fd483ce.009f2c"]]},{"id":"65bc774f.6b0648","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"true","complete":"true","x":2598.78328704834,"y":325.45001220703125,"wires":[]},{"id":"fd483ce.009f2c","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":1952.4999389648438,"y":328.9499931335449,"wires":[["37dbd2c4.dcabfe"]]},{"id":"37dbd2c4.dcabfe","type":"function","z":"1ccdb44a.47d52c","name":"Add HANA JSON Header","func":"msg.headers = {\n    \"Authorization\": \"Bearer 6da70c86c1dede37d259cff922aad5\",\n    \"Content-type\" : \"application/json\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2188.416572570801,"y":324.6333427429199,"wires":[["54348bcd.488bf4"]]},{"id":"ca509d38.9e103","type":"function","z":"1ccdb44a.47d52c","name":"gettime command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"gettime\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":436.6666564941406,"y":690,"wires":[["d538c843.846c98","926294e5.5deb58"]]},{"id":"d538c843.846c98","type":"debug","z":"1ccdb44a.47d52c","name":"gettime command","active":false,"console":"false","complete":"payload","x":479.6666793823242,"y":801.6428737640381,"wires":[]},{"id":"926294e5.5deb58","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":745.2737884521484,"y":692.4285736083984,"wires":[["bd46764.2ef6688","6166000.0c1f8"]]},{"id":"bd46764.2ef6688","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/gettime","tls":"","x":955.3095550537109,"y":695.3214206695557,"wires":[["f0d02d5.c531ed","fd0c6acc.21b7e8"]]},{"id":"f0d02d5.c531ed","type":"debug","z":"1ccdb44a.47d52c","name":"time msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1115.1666870117188,"y":799.3928737640381,"wires":[]},{"id":"6166000.0c1f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":798.1666870117188,"y":803.6428737640381,"wires":[]},{"id":"7007527d.f8cd5c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":743.3333435058594,"y":563.3333358764648,"wires":[]},{"id":"5d7aa732.fd6148","type":"debug","z":"1ccdb44a.47d52c","name":"get_temp_rh command","active":false,"console":"false","complete":"payload","x":491.6666564941406,"y":565,"wires":[]},{"id":"7daa951c.16225c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":1918.3332862854004,"y":578.3333358764648,"wires":[]},{"id":"d9580cd8.cf15a","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":1643.3333129882812,"y":575.0000429153442,"wires":[]},{"id":"874e643a.49d2c8","type":"join","z":"1ccdb44a.47d52c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"3","x":1468.3332710266113,"y":469.99997329711914,"wires":[["d9580cd8.cf15a","a25f24ba.ced408"]]},{"id":"12224147.199f8f","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"birghtness\";\nreturn msg;","outputs":1,"noerr":0,"x":1230.000129699707,"y":181.66667556762695,"wires":[["874e643a.49d2c8"]]},{"id":"686651bc.b10d3","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"temp\";\nreturn msg;","outputs":1,"noerr":0,"x":1234.9999771118164,"y":464.9999713897705,"wires":[["874e643a.49d2c8"]]},{"id":"fd0c6acc.21b7e8","type":"function","z":"1ccdb44a.47d52c","name":"adding a topic","func":"msg.topic = \"time\";\nreturn msg;","outputs":1,"noerr":0,"x":1241.6666412353516,"y":703.3333168029785,"wires":[["874e643a.49d2c8"]]}]