requestBrightnessFlow.txt
[{"id":"7ba7e4d9.e4f30c","type":"inject","z":"1ccdb44a.47d52c","name":"start calling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":204,"y":670,"wires":[["cb117cb8.1cf2c","66935b40.b14934"]]},{"id":"788cf946.e0f298","type":"http request","z":"1ccdb44a.47d52c","name":"","method":"POST","ret":"obj","url":"http://192.168.122.1:60080/send/get_brightness","tls":"","x":600,"y":152,"wires":[[]]},{"id":"cb117cb8.1cf2c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"payload","x":225,"y":760,"wires":[]},{"id":"d87da500.bfbde8","type":"json","z":"1ccdb44a.47d52c","name":"encode Json","x":422,"y":151,"wires":[["788cf946.e0f298"]]},{"id":"e04ab336.7d0fd","type":"function","z":"1ccdb44a.47d52c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":229,"y":230,"wires":[[]]},{"id":"74521dc.9f52fe4","type":"mqtt in","z":"1ccdb44a.47d52c","name":"","topic":"wsn/dev/unit:30344719333832391b002000/rx/+/type:shelfnet_packet","qos":"1","broker":"1d47381b.7b84d8","x":346,"y":337,"wires":[["dd268174.369f1"]]},{"id":"dd268174.369f1","type":"json","z":"1ccdb44a.47d52c","name":"decode json","x":240,"y":457,"wires":[["39ff55b8.c8823a"]]},{"id":"39ff55b8.c8823a","type":"rbe","z":"1ccdb44a.47d52c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":219,"y":542,"wires":[["fc737fc3.43435"]]},{"id":"fc737fc3.43435","type":"template","z":"1ccdb44a.47d52c","name":"unit address template","field":"unitAddress","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{{payload.message.msg.unitAddress}}}","x":207,"y":601,"wires":[["1ab580.38b05a81"]]},{"id":"1ab580.38b05a81","type":"debug","z":"1ccdb44a.47d52c","name":"unit address","active":true,"console":"false","complete":"payload","x":551,"y":593,"wires":[]},{"id":"66935b40.b14934","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nvar address = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":address,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":528,"y":674,"wires":[["4afdbdc2.874f84","f8229bf3.661398"]]},{"id":"4afdbdc2.874f84","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":true,"console":"false","complete":"payload","x":869,"y":672,"wires":[]},{"id":"f8229bf3.661398","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":765.7500152587891,"y":757.0000123977661,"wires":[["58bef0d4.f02fb","aa661547.a632f8"]]},{"id":"58bef0d4.f02fb","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":640.5000076293945,"y":935.7500133514404,"wires":[["e42fd0ff.bdd44","a25f24ba.ced408"]]},{"id":"e42fd0ff.bdd44","type":"debug","z":"1ccdb44a.47d52c","name":"msg object being sent","active":true,"console":"false","complete":"payload","x":948.0000152587891,"y":873.2500133514404,"wires":[]},{"id":"ecac340d.0e7118","type":"function","z":"1ccdb44a.47d52c","name":"get_temp","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nvar address = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":address,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":462.50000762939453,"y":765.0000114440918,"wires":[["9287e13d.aedf2"]]},{"id":"aa661547.a632f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":952.5,"y":812.5,"wires":[]},{"id":"9287e13d.aedf2","type":"json","z":"1ccdb44a.47d52c","name":"","x":376.25000762939453,"y":955.0000123977661,"wires":[["6a842d6d.7baee4"]]},{"id":"6a842d6d.7baee4","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":531.25,"y":1026.25,"wires":[["53a0a50.a86115c"]]},{"id":"53a0a50.a86115c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":727.5,"y":1033.75,"wires":[]},{"id":"54348bcd.488bf4","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"txt","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/b1817a3a-731e-41d4-9ca0-4d1816760491","tls":"","x":1070.000015258789,"y":1071.2500133514404,"wires":[[]]},{"id":"fb5a77de.332508","type":"json","z":"1ccdb44a.47d52c","name":"","x":891.2500114440918,"y":1033.750015258789,"wires":[[]]},{"id":"fdca0d60.14b81","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":1156.2500190734863,"y":943.7500133514404,"wires":[]},{"id":"a25f24ba.ced408","type":"function","z":"1ccdb44a.47d52c","name":"prep for HANA","func":"var brightness = msg.payload;\n\nmsg.payload = {\"access_token\":\"cce4a153e33d58589999288885e06793\"};\nreturn msg;","outputs":"1","noerr":0,"x":972.5000152587891,"y":945.0000133514404,"wires":[["fdca0d60.14b81"]]},{"id":"1d47381b.7b84d8","type":"mqtt-broker","z":"1ccdb44a.47d52c","broker":"192.168.42.1","port":"1883","clientid":"guest-machine-nodered-logmonitor","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]