requestBrightnessFlow.txt
[{"id":"7ba7e4d9.e4f30c","type":"inject","z":"1ccdb44a.47d52c","name":"start calling","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":145.42856979370117,"y":175.71426963806152,"wires":[["cb117cb8.1cf2c","66935b40.b14934"]]},{"id":"cb117cb8.1cf2c","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"payload","x":160,"y":280.0000114440918,"wires":[]},{"id":"66935b40.b14934","type":"function","z":"1ccdb44a.47d52c","name":"get_brightness command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\ncontext.global.Xexsg = \"30344719333832391b002000\";\nmsg.payload = {\"command\":\"get_brightness\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":419.99998474121094,"y":174.8571376800537,"wires":[["4afdbdc2.874f84","f8229bf3.661398"]]},{"id":"4afdbdc2.874f84","type":"debug","z":"1ccdb44a.47d52c","name":"get_brightness command","active":true,"console":"false","complete":"payload","x":463.00000762939453,"y":286.5000114440918,"wires":[]},{"id":"f8229bf3.661398","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":708.6071166992188,"y":177.28571128845215,"wires":[["58bef0d4.f02fb","aa661547.a632f8"]]},{"id":"58bef0d4.f02fb","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_brightness","tls":"","x":936.6428527832031,"y":176.17855548858643,"wires":[["e42fd0ff.bdd44","a25f24ba.ced408"]]},{"id":"e42fd0ff.bdd44","type":"debug","z":"1ccdb44a.47d52c","name":"msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1058.500015258789,"y":284.2500114440918,"wires":[]},{"id":"ecac340d.0e7118","type":"function","z":"1ccdb44a.47d52c","name":"get_temp_rh command","func":"//var address = (''+msg.unitAddress).match(/^[^0-9a-f]*([0-9a-f]+)[^0-9a-f]*$/)[1];\nmsg.payload = {\"command\":\"get_temp_rh\",\"unit\":context.global.Xexsg,\"arguments\":{}};\nreturn msg;","outputs":1,"noerr":0,"x":462.00000381469727,"y":456.50001525878906,"wires":[["9287e13d.aedf2"]]},{"id":"aa661547.a632f8","type":"debug","z":"1ccdb44a.47d52c","name":"","active":false,"console":"false","complete":"false","x":761.5000152587891,"y":288.5000114440918,"wires":[]},{"id":"9287e13d.aedf2","type":"json","z":"1ccdb44a.47d52c","name":"encode json","x":713.7500076293945,"y":456.50003814697266,"wires":[["6a842d6d.7baee4"]]},{"id":"6a842d6d.7baee4","type":"http request","z":"1ccdb44a.47d52c","name":"push to shelfnet","method":"POST","ret":"obj","url":"http://67.60.125.243:60080/send/get_temp_rh","tls":"","x":938.7500152587891,"y":456.25000762939453,"wires":[["c76ea406.b2a1b8"]]},{"id":"54348bcd.488bf4","type":"http request","z":"1ccdb44a.47d52c","name":"Send to HANA","method":"POST","ret":"txt","url":"https://iotmmsp1942404413trial.hanatrial.ondemand.com/com.sap.iotservices.mms/v1/api/http/data/b1817a3a-731e-41d4-9ca0-4d1816760491","tls":"","x":1785.000015258789,"y":363.75001525878906,"wires":[[]]},{"id":"fb5a77de.332508","type":"json","z":"1ccdb44a.47d52c","name":"","x":1568.7500228881836,"y":363.750018119812,"wires":[[]]},{"id":"fdca0d60.14b81","type":"debug","z":"1ccdb44a.47d52c","name":"","active":true,"console":"false","complete":"false","x":1367.2500190734863,"y":278.7500057220459,"wires":[]},{"id":"a25f24ba.ced408","type":"function","z":"1ccdb44a.47d52c","name":"build message for HANA","func":"var brightness = msg.payload.data.brightness;\n\nmsg.payload = {\"access_token\":\"cce4a153e33d58589999288885e06793\",\"unit\":context.global.Xexsg,\"brightness\":brightness};\nreturn msg;","outputs":"1","noerr":0,"x":1209.3571395874023,"y":177.42856884002686,"wires":[["fdca0d60.14b81"]]},{"id":"c76ea406.b2a1b8","type":"debug","z":"1ccdb44a.47d52c","name":"msg object returned from ShelfNet","active":true,"console":"false","complete":"payload","x":1055,"y":565,"wires":[]}]